{% extends 'v3/final/base/scripts.html' %}
{% block main-content %}
{% block browse-nav %}

<div class="container" style="padding: 0">
<nav class="navbar navbar-default white-tile" style="margin-bottom: 0; border-radius: 0px !important; min-height: 60px !important; padding-top: 5px !important">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#pdsnav">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
            </button>
	    <!-- <a class="navbar-brand" href="{% url 'home' %}">PDSquirrel</a> -->
	     <a href="{% url 'home' %}"><img class="navbar-brand" style="margin-right: 20px !important; padding-top:10 !important; padding-bottom: 5 !important; padding-right: 0 !important;" src="/static/img/logo_green.png" alt=""></a>
        </div>
        <div class="collapse navbar-collapse" id="pdsnav">
            <ul class="nav navbar-nav">

			    {% if user.is_superuser %}
			<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Admin<span class="caret"></span></a>
			<ul class="dropdown-menu"  role = "menu">
			    <li>
			        <a href="/admin/">Administration</a>
				<a href="{% url 'upload-admin' %}">Presenter Uploads</a>
				<a href="{% url 'accounting' %}">Accounting</a>
			    </li>
			</ul>
		    </li>

			    {% endif %}
                <li><a href="{% url 'browse' %}">Browse</a></li>

			    {% if request.user.profile.is_presenter == True %}
			    <li><a href="{% url 'presenter-dash' %}">Presenter Hub</a></li>
			    {% endif %}
            </ul>
	    <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
		    <li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{user.first_name}} {{user.last_name}}<span class="caret"></span></a>
			<ul class="dropdown-menu scrollbar-fix"  role = "menu">


			    <li><a href="{% url 'dash' %}">My PD Library</a></li>
			    <li><a href="{% url 'reports' %}">My Reports</a></li>
			    <li><a href="{% url 'options' %}">My Account Options</a></li>
			    <li><a href="{% url 'logout' %}" onclick="return confirm('Are you sure?')">Sign Out</a></li>
			    <hr>
			    <li><p class="navbar-text">Credits Remaining: {% if user.profile.remaining_pd %}{{ user.profile.remaining_pd }}{% else %}0{% endif %}</p></li>
			</ul>
		    </li>
			    <li>
		    </li>

                {% else %}
                <li><a href="{% url 'join' %}">Join</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Sign In! <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu" id="top-nav-ul">
                        <form class="form-horizontal" id="login-form" action = "{% url 'login' %}" method = "post">
                            {% csrf_token %}
                            <div class="row sign-in-row">
                                <div class="col-xs-10 col-xs-offset-1">

				    <h4>Welcome back, login below.</h4>
                                    <h4 id='login-header-error' class = "bg-primary" id="login-msg"><b id = "login-msg"></b></h4>
                                </div>
                            </div>
                            <div class="row sign-in-row">
                                <div class="col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">

				    <label for="">Username (email)</label>
                                        <input type="text" class="form-control" id="inputEmail3" name = "username" placeholder="Email">
                                </div>
                            </div>
                            <div class="row sign-in-row">
                                <div class="col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
				    <label for="">Password</label>
                                        <input type="password" class="form-control" name="password" placeholder="Password">
                                </div>
                            </div>
                            <div class="row sign-in-row">
                                <div class="col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
                                    <div class="form-spacer">
                                        <button type="submit" id="login-button" class="btn btn-primary">Sign In</button>
                                        <a href = "{% url 'recover' %}" id = "forgot-pass-link">Forgot your password?</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="row">
                            <div class="col-xs-12">
                                <hr class = "margin-top: 0px;">
                            </div>
                            <div class="col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
                                <p id='login-link'>Don't have an account? <a class="" href = "{% url 'join' %}" >Join Today.</a></p>
                            </div>
                        </div>
                    </ul>
                </li>
                {% endif %}
	    </ul>
        </div>
        <!-- /.navbar-collapse -->
    <!-- /.container-fluid -->
</div>

</nav>

{% endblock browse-nav %}
{% block body %}
{% endblock body %}
{% block bottom-nav %}


</div>
<div class="navbar-bottom my-footer">
        <div class="row">
            <div class="col-xs-12 col-sm-offset-1">
                <p id="squirrel-inc">&#169; PD Squirrel Inc. 2015</p>
            </div>
        </div>
        <div class="row bottom-logo">
            <div class="col-sm-7 col-sm-offset-1 col-xs-12">
                <ul id="bottom-nav-links" class="list-inline">
                    {% block bottom-nav-links %}
                    <li><a href="{% url 'about' %}">About Us</a></li>
                    <li><a href="{% url 'learn' %}">Learn</a></li>
                    <li><a href="{% url 'contact-us' %}">Contact Us</a></li>
                    <li><a href="{% url 'terms' %}">Terms &amp; Conditions</a></li>
                    <li><a href="{% url 'privacy' %}">Privacy</a></li>
                    <li><a href="{% url 'presenter-info' %}">Become a Presenter</a></li>
                    {% endblock bottom-nav-links %}
                </ul>
            </div>
	    <div id="seal_container" class="col-sm-11 col-sm-offset-1 col-xs-11 col-xs-offset-1">
			<table id="SSL" title="Click to Verify - This site chose Symantec SSL for secure e-commerce and confidential communications.">
			<tr>
			<td id="seal"><script type="text/javascript" src="https://seal.websecurity.norton.com/getseal?host_name=www.pdsquirrel.ca&amp;size=M&amp;use_flash=NO&amp;use_transparent=YES&amp;lang=en"></script><br />
			<a id="certificate" href="http://www.symantec.com/ssl-certificates" target="_blank" >ABOUT SSL CERTIFICATES</a></td>
			</tr>
			</table>
	    </div>
        </div>
    </div>
{% endblock bottom-nav %}
{% endblock main-content %}
