{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
	<title>{% block title %}PDSquirrel Inc{% endblock title %}</title>

        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <nav class="navbar navbar-default">
	    <div>
		    <div class="navbar-header">
		        <a class="navbar-brand" href="{% url 'home' %}">PDSquirrel</a>
		    </div>

		    <ul class="nav navbar-nav"> <!-- Start nav list -->
		    <li><a href="{% url 'browse' %}">Browse PD</a></li>
	    {% if user.is_authenticated %}
		    <li>
			{{ user.first_name }} {{ user.last_name }}
			<ul class="nav navbar-nav">
			    <li class="navbar-text">Remaining PD {{ user.profile.remaining_pd }}</li>
			    <li><a href="{% url 'dash' %}">My PD</a></li>
			    <li><a href="{% url 'reports' %}">My Reports</a></li>
			    <li><a href="{% url 'options' %}">My Account Options</a></li>
			    {% if request.user.profile.is_presenter == True %}
				<li><a href="{% url 'presenter-dash' %}">Presenter Hub</a></li>
			    {% endif %}
			    <li><a href="{% url 'logout' %}" onclick="return confirm('Are you sure?')">Sign Out</a></li>
			</ul>
		    </li>
	    {% else %}
		    <li><a href="{% url 'login-landing' %}">Login</a></li>
		    <li><a href="{% url 'join' %}">Join</a></li>
		</ul> <!-- End nav list -->
		
	    {% endif %}
	    </div>
	    </nav>
        <div>
	    {% block body %}
	    {% endblock body %}
	</div>
        <div>
	    <ul>
		<li><a href="{% url 'about' %}">About Us</a> </li>
		<li><a href="{% url 'contact-us' %}">Contact Us</a> </li>
		<li><a href="{% url 'terms' %}">Terms & Conditions</a> </li>
		<li><a href="{% url 'privacy' %}">Privacy</a></li>
		<li><a href="{% url 'presenter-info' %}">Become a Presenter</a></li>
	    </ul>
	</div>
    </body>
</html>
