{% load staticfiles %}
<html>

    <head>
        {% block header-metatags %}
        {% endblock header-metatags %}
        {% block headerscripts %}
        <meta http-equiv=”Content-Type” content=”text/html"; charset="UTF-8”>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

        <link rel="stylesheet" href="{% static 'css/cross-site.css' %}">
        <link rel="stylesheet" href="{% static 'css/shared/header.css' %}">
        <link rel="stylesheet" href="{% static 'css/shared/footer.css' %}">

        {% endblock headerscripts %}
        {% block header-content %}
        {% endblock header-content %}
    </head>

    <body>
    {% block main-content %}
    {% endblock %}
            <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
            <script src="{% static 'js/shared/ajax_login.js' %}"></script>
    {% block footer-content %}
    {% endblock footer-content %}
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </body>
</html>
