{% extends "v3/final/base/base.html" %}
{% load staticfiles %}
{% block header-metatags %}
        <title>PD Squirrel About</title>
        <meta name=”description” content='PD Squirrel provides lawyers with quick access to excellent affordable continuing professional
        development.'>
{% endblock header-metatags %}
{% block body %}


<div class="container" id="main-content">
    <div class="row">
    		    <div class="col-lg-10 col-lg-offset-1">
    		    	<h3 class="my-page-header">About Us</h3>

			<hr>



<p>
PD Squirrel provides lawyers with quick access to excellent affordable continuing professional
development (CPD) created by the best professionals in their respective fields.
</p>



    		    </div>
                </div>
</div>

{% endblock %}
