{% extends "v3/final/base/base.html" %}
{% load staticfiles %}
{% block body %}


<div class="container" id="main-content">
    <div class="row">
    		    <div class="col-lg-10 col-lg-offset-1">
    		    	<h3 class="my-page-header">About Us</h3>

			<hr>


			<p>
This site is owned and operated by PD Squirrel Inc., a Canadian federally incorporated company owned 
by lawyer Charles W. Demond, LL.B, CPA.  Charles has practiced corporate, tax and estate law for more 
than fifteen years, the last 12 of which have been though his own firm CWD Law Incorporated.  </p>
<p>
PD Squirrel provides lawyers with quick access to excellent affordable continuing professional 
development (CPD) created by the best professionals in their respective fields.
</p>
<p>
You must be a Canadian lawyer to create a PD Squirrel account and access the PD sessions.  Account 
creation requires only name and your email used for your particular law society.  Join today. </p><p>
We’re glad you found us and welcome to PD Squirrel!

			</p>


    		    </div>
                </div>
</div>





<script>
function s(e) {
    console.log("success");
} 
	$.ajax({

	     url: "https://www.pdsquirrel.ca/browse/",
	     context: document.body,
	     //contentType: 'application/x-www-form-urlencoded',
	     //headers: {'Access-Control-Allow-Origin': 'https://pdsquirrel.ca' },
	     success: s

	}).done(function(e) {
	     console.log("done");
	     //console.log(e);

	});

</script>
{% endblock %}
