{% extends "v3/final/base/base.html" %}
{% load staticfiles %}
{% block body %}

<div class="row">
	<div class="col-xs-12">
		<h2>{{pd.name}}</h2>
		<hr>
		
				<p>PD Squirrel Inc. makes reasonable efforts to ensure the above information is accurate and helpful to our users. However, if you, as a member of one or more particular law societies, intend to purchase any product from PD Squirrel for the purposes of applying, you are solely responsible for determining if the substance of a particular CPD title acquired from PD Squirrel Inc., and the manner in which it is received and listened to by the user, is all sufficient to meet your CPD obligations as imposed or recommended by the particular law society.</p>
	</div>
</div>
		
		<div class="row">
			<div class="col-xs-12">
				<h1>Select a society for details on how this title applies to your CPD requirements</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<input type="hidden" value ="{{pd.id}}" id="pd_id">
				<input type="hidden" value ="{{society.id}}" id="society_id">
				<select id="society-select" class ="form-control" name="society-select" onchange="myfunction();">
					{% for entry in societies %}
					<option value="{{entry.id}}" onclick="myfunction();" {% if entry.id == society.id %}selected{% endif %}>{{entry.name}}</option>
					{% endfor %}
				</select>
				<br>
				
				
			</div>
		</div>
		<br>
		<br>
		
		<div class="row">
			
			<div class="col-lg-6 col-sm-12">
				<p>Eligibility for your CPD obligations to the {{name}}</p>
				<div class="well well-lg">
					<p>{{eligibility}}</p>
				</div>
				
			</div>
<div class="col-lg-6 col-sm-12">
				<p>Overview of the CPD requirements for members of the {{name}}</p>
				<div class="well well-lg">
					<p>{{overview}}</p>
				</div>
				
			</div>
			<div class="col-lg-6 col-sm-12"></div>
		</div>

		
		
		


        <script src="{% static 'pd/js/jquery.min.js' %}"></script>
	<script>
	function myfunction() {
		var selected = $("#society-select option:selected").val();
		var pd_id = $('#pd_id').val();
		var url = "/pd/accreditation/" + pd_id + "/" + selected + "/";
		window.location.href = url;
	}
	</script>

        <script src="{% static 'pd/js/jquery.min.js' %}"></script>
	<script>
		$(document).ready(function(){
			$('#refresh').click(function(){
				$.get("{% url 'pd:ajax-captcha' %}", function(data) {
					$('#captcha').html(data);
				});
			});
		});
	</script>
	
		


<script>

            $(document).ready(function(){

			    
		function search(){
            	    $('#browse-options').addClass('hidden');
                    $('#search-options').removeClass('hidden');
                    $('#search-toggle').addClass('active');
            	    $('#browse-toggle').removeClass('active');
		}
		function browse(){
                    $('#search-options').addClass('hidden');
                    $('#browse-options').removeClass('hidden');
                    $('#browse-toggle').addClass('active');
            	    $('#search-toggle').removeClass('active');
		    //alert(subject);
		}



		//	    alert('{{type}}');
                $("#").click(function(){
			search();
                });
                $("#browse-toggle").click(function(){
			browse();
                });

            });
        </script>


{% endblock body %}
