{% extends "v3/final/base/base.html" %}
{% load staticfiles %}
{% block body %}
{% load pds_extras %}
<style>
.btn-lg {
	margin-top:20px;
	margin-bottom:20px;
}

#session_pres_img {
width: 200px;
margin-bottom: 0px !important;
}
</style>
<div id="main-content" class="container"  >
<div class="row">
<div class="col-lg-10 col-lg-offset-1">

   {% if msg %}
   <div class="row">
      <div class="col-sm-12">
         <div class="alert alert-{{msgType}}">
            <p>{{msg}}</p>
         </div>
      </div>
   </div>
   {% endif %}
   <div class="row">
      <div class="col-xs-12">
        <h3>{{pd}}</h3>	
		<hr>
		
		<div class="col-sm-5" style="margin-top: 20px">
			{% for presenter in pd.presenters.all %}
						<img id ="session_pres_img" class="white-tile-img" 
						{# if no img uploaded by user, pull one of two placeholders #}
						{# tested: no #}
						{% if presenter.image %}
						src="/static/presenter_pics/{{presenter.image_name}}" 
						{% else %}
							{% if presenter.placeholder_type == 0 %}
								src="{{presenter.female_placeholder}}"
							{% elif presenter.placeholder_type == 1 %}
								src="{{presenter.male_placeholder}}"
							{% endif %}
						{% endif %}
						style="-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12)" 
						alt="" width="90%" />
			{% endfor %}
			<br>	
			<br>	
			<h4>
				{% for x in pd.presenters.all %} <a href="{% url 'presenter-detail' x.id %}"> {{x}}{% if x.credentials %}, {{x.credentials}} <br>{%endif%}{% endfor %}</a>
			</h4>
		</div> <!-- end presenter image div -->
		<div class="col-sm-7">
         	<h4>Session Description</h4>
			{{pd.description}}
			<div class="row"> {# Row within 7 col description section, for button #}
				  <div class="col-xs-12">
					 {% if user.is_authenticated %}
					 {% if own == 1 %}
					 <div class="">
						<a class="btn btn-success btn-lg" href="{% url 'watch' pd.id %}" >Listen Now</a>
					 </div>
					 {% else %}
					 {% if user.profile.remaining_pd = 0 %}
					 <form id="pform" action="{% url 'payment-process' %}" method="POST">
						<input type="hidden" name="pd_id" value="{{pd.id}}" />
						{% csrf_token %}
						<div class= "hidden">
						   <script
							  src="https://checkout.stripe.com/checkout.js" class="stripe-button"
							  data-key="pk_test_URIzgmhYoVYuzDm9Q98RHkIQ"
							  data-amount="{{pd.price|fix_price}}"
							  data-name="{{pd}}"
							  data-description='{{ pd.presenters.all|join:", "}}'
							  data-image="">
						   </script>
						</div>
						<div class="">
						   <button type="submit" class= "btn btn-success btn-lg" id="purchase" >Purchase Now</button>
						   <div class="checkbox">
							  <label>
							  <input type="checkbox"> Inform me via email when this presenter releases content.
							  </label>
						   </div>
						</div>
					 </form>
					 {% else %}
					 <form action="{% url 'payment-process' %}" method ="POST">
						{% csrf_token %}
						<input class = "form-control" type="hidden" name="pd_id" value="{{pd.id}}" />
						<div class="">
						   <input class="btn btn-success btn-lg" type="submit" value="Use Credit">
						</div>
					 </form>
					 {% endif %}
					 {% endif %}
					 {% else %}
					 <a class="btn btn-success btn-lg" disabled="disabled">Sign in to Listen</a>
					 <div class="checkbox">
						<label>
						<input type="checkbox"> Inform me via email when this presenter releases content.
						</label>
					 </div>
					 {% endif %}
				  </div>
			   </div>
		</div>
	  </div> {# end title/by_text/presenter image 12-col #}
   </div> {# end row for top half. Includes img desctiption and listen now btn #}
   
   <div class="row" style="margin-top:20px">
      <div class="col-sm-12 col-md-6 col-lg-6">
         <h4>Session Details</h4>
         <table class = "table table-striped">
            <tr>
               <td>Release date</td>
               <td>{{ pd.release_date|remove_time}}</td>
            </tr>
            <tr>
               <td>Subject area(s)</td>
               <td>				
                  {% for a in pd.subject.all %}
                  {{a}}<br />
                  {% endfor %}
               </td>
            </tr>
            <tr>
               <td>Language</td>
               <td>English</td>
            </tr>
            <tr>
               <td>Duration (minutes)</td>
               <td>{{pd.duration}}</td>
            </tr>
            <tr>
               <td>Price (GST/HST included)</td>
	       <td>${{ pd.price|show_cents }}</td>
            </tr>
	    <tr>
	    	<td>Unique number</td>
		<td>

         100{{ pd.id }}15
		</td>
	    </tr>
            <tr>
            </tr>
         </table>
	<table class="table">
		      <tr>
		      	<td>

			    <a href = "/pd{% url 'accred' pd.id %}{{request.user.profile.society.all.0.id}}/">Click here for CPD eligibility for your law society.</a></td>
			</td>
		      </tr>
	      </table>
      </div>
      
   </div>

</div>
</div>
</div>

{% endblock %}
{% block bottom-scripts %}
{% debug %}
{% endblock %}
