{% extends "v3/final/base/base.html" %}
{% load staticfiles %}
{% block header-metatags %}
        <title>PDSquirrel Home</title>
        <meta name=”description” content='Professional development talks, offered by lawyers, for lawyers'>
{% endblock header-metatags %}
{% block header-content %}
        <link rel="stylesheet" href="{% static 'css/user/home.css' %}">
{% endblock header-content %}{% block body %}

<div class="container">
	<div class="row">
		<div class="col-lg-12 col-xs-12" id="brand-div">
			<div class="row">
				<div class="col-xs-12 col-lg-6 col-lg-offset-5 col-md-offset-4">
					<div id="search-bar" class="input-group">
						<form  id="HomePageSearch" action ="{% url 'browse' %}"  method ="POST" />
							{% csrf_token %}
							<div class="input">
								<input type="text" name="query" placeholder="Search. Go nuts on PD!" class="home-search form-control">
							</div>
							<div class="submit">
								<button class="home-search-btn"><span id="search-icon" class="glyphicon glyphicon-search" ></span> </button>
							</div>
							<input type="hidden" name="search_type" value="search">
						</form>
					</div>
				</div>
			</div>

		</div>


	</div>
</div>


<div id="main-content"  class="container" style="min-height: 283px; padding-bottom: 50px;" >

  <div class="row" style="margin-top: 15px;">
    <h3 class="text-center">
  		Get Started
    </h3>

  </div>

  <div class="row " style="margin-bottom: 15px;">

      {% for cont in content %}

        <div class="col-sm-3 col-xs-6 profile">
          <div class="img-box">
            <a class="no-style-link" href="{% url 'detail' cont.id %}">
              <img src="/static/img/subject/{{ cont.subject.all.0.image_name }}" class="img-responsive">
            </a>
          </div>
          <a class="no-style-link" href="#"><small class="muted" style="text-align: right; width: 100%; display: block;">{{ cont.subject.all.0.name }}</small></a>
          <a class="no-style-link" href="{% url 'detail' cont.id %}">
            <h4>{{ cont.name }}</h4>
          </a>
          <a class="no-style-link" href="{% url 'detail' cont.id %}">
            <p>{{ cont.presenters.all.0 }}</p>
          </a>
        </div>

    {% endfor %}

  </div>
  <hr width="90%" style="margin-top: 35px;margin-bottom: 10px;">
  <div class="row">
    <h3 class="text-center">
      Browse By Subject
    </h3>

  </div>

  <div class="row">

    <div class="col-xs-12 text-center">
      {% for subject in subjects %}
        <h4 style="display: inline-block;"><a href="#" style="color:#7b9651;">{{ subject }}</a></h4>
        {% if not forloop.last %}
          <h4 style="display: inline-block; color: #c3b969;">&nbsp;|&nbsp;</h4>
        {% endif %}
      {% endfor %}

    </div>


  </div>
</div>
{% endblock %}
{% block footer-content %}
<script type="text/javascript" src="{% static 'js/shared/jquery.dotdotdot.min.js' %}"></script>
<script type="text/javascript">
/*
    plugin to round off box titles
*/
$(document).ready(function() {
  $('.title').dotdotdot(
    {
      ellipsis: '...',
      wrap: 'word',
      fallbackToLetter: true,
      height: 50
    }
  );
});
</script>
{% endblock footer-content %}
