{% extends "v3/final/base/base.html" %}
{% load staticfiles %}
{% block header-metatags %}
        <title>PDSquirrel Home</title>
        <meta name=”description” content='Professional development talks, offered by lawyers, for lawyers'>
{% endblock header-metatags %}
{% block header-content %}
        <link rel="stylesheet" href="{% static 'css/user/home.css' %}">
{% endblock header-content %} {% block body %}

<div class="container">
	<div class="row">
		<div class="col-lg-12 col-xs-12" id="brand-div">
			<div class="row hidden-xs">
				<div class="col-xs-12 col-lg-6 col-lg-offset-5 col-md-offset-4">
					<div id="search-bar" class="input-group">
						<form  id="HomePageSearch" action ="{% url 'browse' %}"  method ="POST" />
							{% csrf_token %}
							<div class="input">
								<input type="text" name="query" placeholder="Search PDSquirrel. Go nuts on PD!" class="home-search form-control">
							</div>
							<div class="submit">
								<button class="home-search-btn"><span id="search-icon" class="glyphicon glyphicon-search" ></span> </button>
							</div>
							<input type="hidden" name="search_type" value="search">
						</form>
					</div>
				</div>
			</div>
					
		</div>
		<div class="col-xs-12 hidden-sm hidden-md hidden-lg search-sm-col">
			<div id="search-bar-sm" class="input-group">
				<form  id="HomePageSearch" action ="{% url 'browse' %}"  method ="POST" />
					{% csrf_token %}
					<div class="input">
						<input type="text" name="query" placeholder="Search PDSquirrel. Go nuts on PD!" class="home-search form-control">
					</div>
					<div class="submit">
						<button class="home-search-btn"><span id="search-icon" class="glyphicon glyphicon-search" ></span> </button>
					</div>
					<input type="hidden" name="search_type" value="search">
				</form>
			</div>
		</div>
					
	</div>
</div>


<div id="main-content"  class="container" >

  <div class="row">
    <h3 class="text-center">
      New Uploads
    </h3>
  </div>

  <div class="row">

      {% for cont in content %}
      <a href="{% url 'detail' cont.id %}">
        <div class="col-sm-3 col-xs-6 content_row">
          <div class="featured_box content_container">
            <img src="/static/img/subject/{{ cont.subject.all.0.image_name }}" class="img-thumbnail center-block subject_pic">
            <div class="featured_title title">{{ cont.name }}</div>
            <p class="content">{{ cont.presenters.all.0 }}</p>
          </div>
        </div>
      </a>
    {% endfor %}

  </div>
  <div class="row">
    <h3 class="text-center">
      Popular Content
    </h3>
  </div>

  <div class="row">

      {% for pop in popular %}
      <a href="{% url 'detail' pop.id %}">
        <div class="col-sm-3 col-xs-6 content_row">
          <div class="featured_box content_container">
            <img src="/static/img/subject/{{ pop.subject.all.0.image_name }}" class="img-thumbnail center-block subject_pic">
            <div class="featured_title title">{{ pop.name }}</div>
            <p class="content">{{ pop.presenters.all.0 }}</p>
          </div>
        </div>
      </a>
    {% endfor %}

  </div>
</div>
{% endblock %}
{% block footer-content %}
<script type="text/javascript" src="{% static 'js/shared/jquery.dotdotdot.min.js' %}"></script>
<script type="text/javascript">
/*
    plugin to round of box titles
*/
$(document).ready(function() {
  $('.title').dotdotdot(
    {
      ellipsis: '...',
      wrap: 'word',
      fallbackToLetter: true,
      height: 50
    }
  );
});
</script>
{% endblock footer-content %}
