{% extends "v3/final/base/base.html" %}
{% load staticfiles %}
{% block header-metatags %}
        <title>PDSquirrel Home</title>
        <meta name=”description” content='Professional development talks, offered by lawyers, for lawyers'>
{% endblock header-metatags %}
{% block header-content %}
        <link rel="stylesheet" href="{% static 'css/user/home.css' %}">
{% endblock header-content %}{% block body %}

<div class="container">
	<div class="row">
		<div class="col-lg-12 col-xs-12" id="brand-div">
			<div class="row">
				<div class="col-xs-12 col-lg-6 col-lg-offset-5 col-md-offset-4">
					<div id="search-bar" class="input-group">
						<form  id="HomePageSearch" action ="{% url 'browse' %}"  method ="POST" />
							{% csrf_token %}
							<div class="input">
								<input type="text" name="query" placeholder="Search. Go nuts on PD!" class="home-search form-control">
							</div>
							<div class="submit">
								<button class="home-search-btn"><span id="search-icon" class="glyphicon glyphicon-search" ></span> </button>
							</div>
							<input type="hidden" name="search_type" value="search">
						</form>
					</div>
				</div>
			</div>

		</div>


	</div>
</div>


<div id="main-content"  class="container">

  <div class="row title-row">
    <h3 class="text-center">
  		Get Started
    </h3>
  </div>

  <div class="row content-row">

      {% for cont in content %}

        <div class="col-sm-3 col-xs-6 session">
          <div class="img-box">
            <a class="no-style-link" href="{% url 'detail' cont.id %}">
              <img src="/static/img/subject/{{ cont.subject.all.0.image_name }}" class="img-responsive">
            </a>
          </div>
          <small class="muted">{{ cont.subject.all.0.name }}</small>
          <a class="no-style-link" href="{% url 'detail' cont.id %}">
            <h4>{{ cont.name }}</h4>
          </a>
          <a class="presenter" href="{% url 'presenter-detail' cont.presenters.all.0.id %}">
            <p>
              {{ cont.presenters.all.0 }}{% if cont.presenters.all.0.credentials %},
                {{cont.presenters.all.0.credentials}}
              {% endif %}
            </p>

          </a>
        </div>

    {% endfor %}

  </div>
  <hr class="vertical-divider">
  <div class="row">
    <h3 class="text-center">
      Browse by Subject
    </h3>

  </div>

  <div class="row" style="margin-top: 10px">

    <div class="col-xs-12 text-center">
      <form id="browse-by-subject" action="{% url 'browse' %}" method="POST">
        <input type="hidden" name="search_type" value="browse">
        {% csrf_token %}
        {% for subject in subjects %}
          <button type="submit" name="subject" value="{{subject.id}}" class="btn btn-link">{{ subject }}</button>
          {% if not forloop.last %}
            <h4 class="subject-divider">|</h4>
          {% endif %}
        {% endfor %}
      </form>
    </div>


  </div>
</div>
{% endblock %}
