{% extends "v3/final/base/base.html" %}
{% load staticfiles %}
{% block header-metatags %}
        <title>Join PDSquirrel</title>
        <meta name=”description” content='Join PDSquirrel today to find all the profressional development you will need'>
{% endblock header-metatags %}
{% block header-content %}
        <link rel="stylesheet" href="{% static 'css/user/join.css' %}">
{% endblock header-content %}
{% block body %}
<div id="main-content" class="container">

            {% csrf_token %}
            <div class="row">
                    <!--spits out messages from msg dict (type, body, title) -->
                    {% for m in msg %}
                        <div class="col-xs-12">
                            <div class="alert alert-{{m.type}}" role="alert">
															<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            	{{m.body|safe}}
                            </div>
                        </div>
                    {% endfor %}
	{% if user.is_authenticated %}
	    <div class="col-xs-12" id="auth-problem">
                            <div class="alert alert-danger" id = "page-alerts" role="alert">

                                <p>
		    You are already signed in. Please signout before creating a new account.
                                </p>
                            </div>
                        </div>
	    {% endif %}

            </div>
            <div class="row">

				<div class="col-lg-12">
					<h2 class="alert alert-danger iclose">This site is still in development. Come back soon</h2>
				</div>
      </div>
        <div class="row">


                <div class="col-xs-12">
                    <h3 class="my-page-header text-center">Create your PDSquirrel Account</h3>
                    <hr />
                </div>
                </div>
            <div class="row">
              <div class="col-sm-6 hidden-xs">
                <h4 class="text-center sub-header">Listen, Learn and Develop with sessions from PDSquirrel</h4>
                <img class="center-block img-responsive learn-img" src="{% static 'img/learn/on_device.png' %}" alt="">
              </div>
              <div class="col-sm-6" id="form-container">
                <form method = "post" action = "{% url 'join' %}" data-toggle="validator" class = "form-horizontal" id="joinform">
                    <div class="form-group" id="name">
                        <label for="first_name" class="col-sm-2 control-label">Name</label>
                        <div class="text_input col-sm-5">
                          <input type="text" id="first_name" value = "{{ first_name }}" name = "first_name" placeholder="First" class="form-control">
                          <span class="help-block"></span>
                        </div>
                        <div class="visible-xs"><br></div>
                        <div class="text_input col-sm-5">
                            <input type="text" name = "last_name" value="{{last_name}}" id="last_name" placeholder="Last" class="form-control">
                            <span class="help-block"></span>
                        </div>
                    </div>


                    <div class="form-group" >
                        <label for="email" class="col-sm-2 control-label">Email</label>
                        <div class="text_input col-sm-10">
                            <input type="text" id="email" value="{{email}}" name = "email" class="form-control">
                            <span class="help-block"></span>
                        </div>
                    </div>


                          <div class="form-group">
                              <label for="pass" class="col-sm-2 control-label">Password</label>
                              <div class="text_input col-sm-5">
                              {{form.password}}
                                <input type="password" name = "password" id="pass" placeholder="Enter password" class="form-control">
                                <span class="help-block"></span>
                              </div>
                              <div class="visible-xs"><br></div>
                              <div class="text_input col-sm-5">
                                {{form.password_confirm}}
                                <input type="password" id="vpass" name = "password_verify" placeholder="Retype password" class="form-control">
                                <span class="help-block"></span>
                              </div>
                          </div>




                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">Member Of</label>
                        <div id="societygroup" class="text_input col-sm-10">
                            {{form.society}}
                            <select name="society" class="form-control">
                              <option value=""></option>
                            {% for x in societies %}
		<option value={{x.id}}>{{x}}</option>
                            {% endfor %}
                            </select>
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 text_input">
                          <label for="">{{form}}</label>

                            <a onclick="ref()">Refresh Captcha</a>
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-10 col-xs-offset-1">
                            <div class="form-group" id = "term-div" >
                              <div class="checkbox" id="termdiv" >

                                  <input id="termbox" type="checkbox" name ="terms">
                                  <div id="darken">By checking here, I acknowledge that I have reviewed and agree to the <a href="{% url 'terms' %}" target="_blank">PD Squirrel terms and conditions.</a> After you click submit, we will send you an email confirming the creation of your account. Welcome to PD Squirrel.</div>
                                  <span class="help-block"></span>

                              </div>
                            </div>
                            <br>
                          </div>
                          <div class="col-xs-12">
                            <p class="text-center">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </p>
                          </div>
                    </div>
                    </form>
                </div>
            </div>
</div>


{% endblock %}
{% block footer-content %}
<script src='https://www.google.com/recaptcha/api.js'></script>
<script src="{% static 'js/user/join.js' %}"></script>
{% endblock footer-content %}
