{% extends "v3/final/base/base.html" %}
{% load staticfiles %}
{% block body %}

{# fix msg  system in join then remove this page #}

<div class="container" id="main-content">
    <div class="row">
    		    <div class="col-sm-12">

<div class="alert alert-success" id="page-alerts" role="alert">

                                    <p>
                                        Thank you.  We're opening soon and you'll be among the first to be invited.
                                    </p>
                                </div>
    		    </div>
                </div>
</div>
{% endblock %}
