{% extends "v3/final/base/base.html" %}
{% load staticfiles %}
{% block body %}


<div class="container" id="main-content">
    <div class="row">
    		    <div class="col-sm-12">
			    
<div class="alert alert-success" id="page-alerts" role="alert">
	
                                    <p>
                                        Thank you.  We have sent a welcome email to you.  Click the link in that email to instantly activate your account and open the sign-in page.  You may close this page. 
                                    </p>
                                </div>
    		    </div>
                </div>
</div>
{% endblock %}


