{% extends "v3/final/base/base.html" %}
{% load staticfiles %}
{% block header-metatags %}
        <title>Join PDSquirrel</title>
        <meta name=”description” content='Join PDSquirrel today to find all the profressional development you will need'>
{% endblock header-metatags %}
{% block header-content %}
        <link rel="stylesheet" href="{% static 'css/user/join.css' %}">
{% endblock header-content %}
{% block body %}
<div id="main-content" class="container">
    <div class="row">
        <div class="col-lg-9 col-md-10 col-xs-12 col-lg-offset-1">
            <form method = "post" action = "{% url 'join' %}" class = "form-horizontal" id="joinform">
                {% csrf_token %}
                <div class="row">
                    <div class="col-xs-12">
                        <!--spits out messages from msg dict (type, body, title) -->
                        {% for m in msg %}
                            <div class="col-xs-12">
                                <div class="alert alert-{{m.type}}" role="alert">
																	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                	{{m.body|safe}}
                                </div>
                            </div>
                        {% endfor %}
			{% if user.is_authenticated %}
			    <div class="col-xs-12" id="auth-problem">
                                <div class="alert alert-danger" id = "page-alerts" role="alert">

                                    <p>
				    You are already signed in. Please signout before creating a new account.
                                    </p>
                                </div>
                            </div>
			    {% endif %}

                    </div>
                </div>
                <div class="row">

					<div class="row">
						<div class="col-lg-12">
							<h2 class="alert alert-danger iclose">This site is still in development. Come back soon</h2>
						</div>
					</div>
                    <div class="col-xs-12">
                        <h3 class="my-page-header">Set up your account</h4>
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group" id="name">
                            <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-5"><input type="text" id="first_name" value = "{{ first_name }}" name = "first_name" placeholder="First name" class="form-control"></div>
                            <div class="visible-xs"><br></div>
                            <div class="col-sm-5">
                                <input type="text" name = "last_name" value="{{last_name}}" id="last_name" placeholder="Last name" class="form-control">
                            </div>
                        </div>
                        <div class="form-group" id="emailgroup">
                            <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                            <div class="col-sm-10">
                                <input type="text" id="email" value="{{email}}" name = "email" placeholder="Type your email" class="form-control">
                            </div>
                        </div>
                        <div class="form-group" id="vemailgroup">
                            <label for="inputEmail3" class="col-sm-2 control-label">Confirm email</label>
                            <div class="col-sm-10">
                                <input type="text" id="vemail" value="{{vemail}}" name = "email_confirm" placeholder="Retype your email" class="form-control">
                            </div>
                        </div>
                        <div class="form-group" id="passgroup">
                            <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                            <div class="col-sm-5">
                                {{form.password}}
                                <input type="password" name = "password" id="pass" placeholder="Choose and type a password" class="form-control">
                            </div>
                            <div class="visible-xs"><br></div>
                            <div class="col-sm-5">
                                {{form.password_confirm}}
                                <input type="password" id="vpass" name = "password_verify" placeholder="Retype your password" class="form-control">
                            </div>
                        </div>
                        <div class="form-group" id="societygroup">
                            <label for="inputPassword3" class="col-sm-2 control-label">Member Of</label>
                            <div class="col-sm-10">
                                {{form.society}}
                                <select name="society" class="form-control">
                                {% for x in societies %}
				<option value={{x.id}}>{{x}}</option>
                                {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <h3>Prove you're not a robot</h3>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10">
                        <div id="capdiv">

                            {{form}}
                        </div>
                        <a onclick="ref()">Refresh Captcha</a>
                    </div>
                    <div class="col-sm-1"></div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <h3>Create your account</h3>
                        <hr>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-10 col-sm-offset-2">
			<div class="form-group" id = "term-div" >
			    <div class="checkbox" id="termdiv" >
				<label>
					<span id="darken"><input id="termbox" type="checkbox" name ="terms">By checking here, I acknowledge that I have reviewed and agree to the <a href="{% url 'terms' %}" target="_blank">PD Squirrel terms and conditions.</a> After you click submit, we will send you an email confirming the creation of your account. Welcome to PD Squirrel.
				</label>
			    </div>
			</div>
                        <br>
                    </div>
		    <div class="col-xs-12">
<p class="text-center">

                        <button type="submit" class="btn btn-primary">Submit</button>
</p>

		    </div>
                </div>
            </form>
        </div>

    </div>
</div>


<!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Input Error</h4>
        </div>
        <div class="modal-body">
          <p>Please fill out all fields before submitting the form.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

<button id= "example" type="button" class="hidden" data-toggle="modal" data-target="#myModal">Open Modal</button>

{% endblock %}
{% block footer-content %}

<script src='https://www.google.com/recaptcha/api.js'></script>
<script type="text/javascript">
  $('#joinform').submit(function() {

    var auth = {% if user.is_authenticated %}1{% else %}0{% endif %};

    if (auth == 1) {
      alert("please logout before creating a new account");
      return false;
    }

    error_handler();
  });
</script>
<script src="{% static 'js/user/join.js' %}"></script>
{% endblock footer-content %}
