{% extends "v3/final/base/base.html" %}
{% load staticfiles %}
{% block body %}
{% load pds_extras %}


<link rel="stylesheet" href="{% static 'css/inforow.css' %}">
<style>

li {
}

.vcenter {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.plack {
    border: 5px;
    border-style: outset;
    width: 400px;
}
</style>
<div class="container" id="main-content">
    <div class="row">
    	    <div class="col-lg-10 col-lg-offset-1">
			<h3 style="margin-top: 0">Learn more about us</h3>
			<hr>
		    <div class="row">
			<div class="col-lg-12">
			    <p class="muted">
		          At PD Squirrel we provide continuing professional development to Canadian lawyers.  Our sessions are concise, topical audio presentations, created by Canadian professionals among the best in their field.  The sessions at PD Squirrel can be used to meet the continuing professional development obligations of your law society, and assist you day to day with your practice. </p>

			  

			<p class="muted">
			  Join today at no cost. As a Standard member <a onclick="toggleMembership()">(more)</a> you only pay for the individual sessions you take. For more value, upgrade to Premium membership <a onclick="togglePremium()">(more)</a> and get multiple sessions for a monthly fee. 
			  As a PD Squirrel member, you always have instant access to excellent PD. Just browse, choose, and listen.
			  </p>
			
			  
<p class="muted hidden">
			  Join today at no cost and as a standard member, you only pay for the individual sessions you take. As a premium member..............................
			  ..
			  Either way, as a PD Squirrel member, youll always have instant access to excellent PD. Just browse, choose, and listen.
			  </p>
			  <p class="muted hidden">
			  Pay as you take, or take advantage of our premium monthly membership. <a href="">Get started today.</a>
			  </p>
			  	        
		    </div></div>
<div class="row">
		        <div class="col-lg-12">
<div class="alert alert-info hidden" id="membership-info-premium">

<p><b>Premium PD Squirrel member</b> – For a monthly fee of just <span class="monthly-price">$29.99</span> (GST/HST included), you are entitled to 
    
    take your choice of any eight (8) sessions during the monthly cycle.  Your monthly cycle starts on the day 
    
    you become a Premium member and runs to the same day of the following month.  Any PD session you 
    
    take is kept in your personal PD library for unlimited future access.  You may convert back to Standard 
    
    membership at any time without penalty and without losing the PD sessions from your personal library.  
    
    Upgrading to Premium can be done at any time from your membership account page.

</p>

<div class="row">
<div class="col-lg-12">
    <button onclick="closeAlert()" class="btn btn-default pull-right">Close</button>
</div>
</div>


			    </div>
<div class="alert alert-info hidden" id="membership-info">
<p>
    <b>Standard PD Squirrel member </b>– Upon joining, you automatically become a Standard member. No monthly fee. You pay only for each session you take.  Our prices 
    
    include any applicable GST/HST.  Any PD session you take is kept in your personal PD library for 
    
    unlimited future access.
</p>






<div class="row">
<div class="col-lg-12">
    <button onclick="closeAlert()" class="btn btn-default pull-right">Close</button>
</div>
</div>


<style>
.info-row {
    margin-bottom: 45px;

}

</style>

			    </div>
			</div>
		    </div>
		    <hr>
		    <div class="row hidden-md hidden-sm hidden-lg" id="mobile_learn">
			<div class="col-xs-12">
			    <h3>Browse, Choose, Listen. </h3>			    <img src="{% static 'img/learn/on_device.png' %}" width="100%" alt="">
			</div>
		    </div>
		    <div class="row info-row hidden-xs info-row-color-1"> <!-- Browse row -->
		        <div class="col-sm-5 col-xs-12">
			    <p><b>Browse</b> our selection of PD sessions.</p>
		        </div>
		        <div class="col-sm-7 col-xs-12">
			    <img class="plack"  style="float: right;"src="{% static 'img/learn/browse.png' %}"  alt="">		
		        </div>
		    </div>
		    <div class="row info-row hidden-xs info-row-color-2"> <!-- Choose row -->
		        <div class="col-sm-7 col-xs-12" >
		          <img class="plack" src="{% static 'img/learn/detail.png' %}"  alt="">		
		        </div>
		        <div class="col-sm-5 col-xs-12">
			    <p><b>Choose</b> a session.<br>
			    As a Standard member you click to purchase it.
			        As a Premium member you click to use a session credit.
			    </p>
		        </div>
		    </div>
		    <div class="row info-row hidden-xs info-row-color-1"> <!-- Listen row -->
		        <div class="col-sm-5 col-xs-12">
		          <p><b>Listen</b> to your PD immediately or later as you wish. 
			  The sessions you take are kept in your personal library for unlimited future access. </p>
		        </div>
		        <div class="col-sm-7 col-xs-12" style="">
		          <img class="plack"  style="float: right;" src="{% static 'img/learn/watch.png' %}" style="float: right" alt="">		
		        </div>
		    </div>
		    <div class="row"> <!-- Pricing row -->
		        <div class="col-lg-12">
			    <hr>
			    <h4 class="text-center">Pricing</h4>
			    <hr>
			    <p>
				Join PD Squirrel today for free with just your name and email.  You receive one free session credit when 
				
				you join PD Squirrel for the first time.  
			    </p>

			    <p>
				Every new PD Squirrel member automatically becomes a Standard member.  You may upgrade to 
				
				Premium membership at any time with a few clicks.
			    </p>

			    <p>
				Standard PD Squirrel member – No monthly fee.  You pay only for each session you take.  Our prices 
				
				include any applicable GST/HST.  Any PD session you take is kept in your personal PD library for 
				
				unlimited future access.
			    </p>

			    <p>
				Premium PD Squirrel member – For a monthly fee of just $29.99 (GST/HST included), you are entitled to 
				
				take your choice of any eight (8) sessions during the monthly cycle.  Your monthly cycle starts on the day 
				
				you become a premium member and runs to the same day of the following month.  Any PD session you 
				
				take is kept in your personal PD library for unlimited future access.  You may convert back to Standard 
				
				membership at any time without penalty and without losing the PD sessions from your personal library.  
			    </p>

			    <p>
				Both Standard and Premium members have access to our report generator to help you keep track of 
				
				your PD.
			    </p>

			    <p>
			    <b>
				<a href="{% url 'join' %}">
				    Join today and go nuts on professional development!
				</a>
			    </b>
			    </p>
			</div>
		    </div> 

		    
		    

    		    </div>
                </div>
</div>
<script>
			    function togglePremium() {
				$('#membership-info').addClass('hidden');
				$('#membership-info-premium').toggleClass('hidden');

			    }
			    function closeAlert() {
				$('.alert').addClass('hidden');
			    }
			    function toggleMembership() {

				$('#membership-info-premium').addClass('hidden');
				$('#membership-info').toggleClass('hidden');
			    }
			    </script>
{% endblock %}
