{% extends "v3/final/base/base.html" %}
{% load staticfiles %}
{% load pds_extras %}
{% block header-metatags %}
        <title>PDSquirrel Learn</title>
        <meta name=”description” content='At PD Squirrel we provide continuing professional development.'>
{% endblock header-metatags %}
{% block header-content %}
        <link rel="stylesheet" href="{% static 'css/user/learn.css' %}">
{% endblock header-content %}
{% block body %}

<div class="container" id="main-content">
    <div class="row">
    	    <div class="col-lg-10 col-lg-offset-1">
			<h3 class="my-page-header">Learn more about us</h3>
			<hr>

		    <div class="row">
			<div class="col-lg-12">
        <p>
          PD Squirrel offers topical professional development audio sessions to Canadian lawyers and accountants. All our PD sessions are presented by lawyers and accountants with valuable knowledge, insight and skill in their practice areas.
        </p>
        <p>
          Join PD Squirrel today at no cost, and receive one free session. As a Standard member, you only pay for the individual sessions you take. For more value, upgrade to Premium membership and receive multiple sessions for a monthly fee.
        </p>
			<table class="table">
				<tr>
					<th>Standard membership</th>
					<th>Premium membership</th>
				</tr>
				<tr>
					<td>
						<ul>
							<li>Free to join plus you receive one free session.</li>
              <li>New members automatically become Standard members.</li>
              <li>No monthly cost.</li>
							<li>$9.99 per session you take.</li>
              <li>All taken sessions are kept in your personal PD library for your unlimited desktop, tablet and mobile access.</li>
              <li>You may upgrate to Premium at any time from you Account Options page.</li>
						</ul>
					</td>
					<td>
						<ul>
							<li>$29.99 Monthly.</li>
							<li>8 session credits per month.</li>
              <li>Each credit for any PD session chosen by you.</li>
              <li>Monthly cycle starts when you become a Premium meber and runs to the same day of the next month.</li>
              <li>All taken sessions are kept in your personal PD library for your unlimited desktop, tablet and mobile access.</li>
              <li>You may change back to Standard at any time from ou Account Options page (and all your taken PDsessions stay in your PD library for continued unlimited access).</li>
						</ul>
					</td>
				</tr>
			</table>
      <small class="muted">PD Squirrel memvership is subject to our <a href="{% url 'terms' %}">terms and conditions</a></small>
      <br>
      <br>
      <br>
      <p>
        You must be a Canadian lawyer to become a PD Squirrel member and access the PD sessions. Membership account creation requires only your name and your email used for your particular law society or provincial accounting body.
      </p>
      <p class="text-center">
      <b>
        <a href="{% url 'join' %}">
            Join today and go nuts on professional development!
        </a>
      </b>
      </p>


		    </div>
      </div>

		    <hr>
		    <div class="row hidden-md hidden-sm hidden-lg" id="mobile_learn">
			<div class="col-xs-12">
			    <h3>Browse, Choose, Listen. </h3>
          <img src="{% static 'img/learn/on_device.png' %}" width="100%" alt="Browse, Choose, Listen">
			</div>
		    </div>
		    <div class="row info-row hidden-xs info-row-color-1"> <!-- Browse row -->
		        <div class="col-sm-5 col-xs-12">
			    <p><b>Browse</b> our selection of PD sessions.</p>
		        </div>
		        <div class="col-sm-7 col-xs-12">
			    <img class="plack right-plack" src="{% static 'img/learn/browse.png' %}"  alt="Browse">
		        </div>
		    </div>
		    <div class="row info-row hidden-xs info-row-color-2"> <!-- Choose row -->
		        <div class="col-sm-7 col-xs-12" >
		          <img class="plack" src="{% static 'img/learn/detail.png' %}"  alt="Choose">
		        </div>
		        <div class="col-sm-5 col-xs-12">
			    <p><b>Choose</b> a session.<br>
			    As a Standard member you click to purchase it.
			        As a Premium member you click to use a session credit.
			    </p>
		        </div>
		    </div>
		    <div class="row info-row hidden-xs info-row-color-1"> <!-- Listen row -->
		        <div class="col-sm-5 col-xs-12">
		          <p><b>Listen</b> to your PD immediately or later as you wish.
			  The sessions you take are kept in your personal library for unlimited future access. </p>
		        </div>
		        <div class="col-sm-7 col-xs-12" style="">
		          <img class="plack right-plack"  src="{% static 'img/learn/watch.png' %}" alt="Listen">
		        </div>
		    </div>
		    <div class="row">
		        <div class="col-lg-12">
              <hr>
			    <p>
				    This site is owned and operated by PD Squirrel Inc., a Canadian company. The president and principal owner of the company is lawyer Charles W. Demond, LL.B, CPA. Charles has practiced corporate, tax and estate law for more than fifteen years, the last 12 of which have been though his own firm CWD Law Incorporated.
			    </p>

			</div>
		    </div>




    		    </div>
                </div>
</div>

{% endblock %}
