{% extends "v3/final/base/base.html" %}
{% load staticfiles %}
{% block header-metatags %}
        <title>PDSquirrel Email Validation</title>
        <meta name=”description” content='Validate your account by logging in'>
{% endblock header-metatags %}
{% block header-content %}
        <link rel="stylesheet" href="{% static 'css/user/login-new.css' %}">
{% endblock header-content %}
{% block body %}
<div class="main-content" id="activate-container">

    	<div class="row" id="activate-row">
            <div class="col-xs-12">
                <!--spits out messages from msg dict (type, body, title) -->
                {% for m in msg %}
                    <div class="col-xs-12">
                        <div class="alert alert-{{m.type}}" role="alert">
													<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            {{m.body|safe}}
                        </div>
                    </div>
                {% endfor %}
							<div class="msg-container">
                {% if messages %}
                {% for msg in messages %}
                <div class="alert alert-{{msg.tags}} msg" role="alert"
									<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
									{{msg|safe|escape}}
								 </div>
                {% endfor %}
                {% endif %}
            </div>
            </div>

			<div class="col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
				<div class="panel panel-login">

					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
	              <form id="login-form" action="{% url 'login' %}" method="post" role="form">
	                  {% csrf_token %}
	                  <input type="hidden" value="static" name="type">
									<div class="form-group">
										<input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Email" value="">
									</div>
									<div class="form-group">
										<input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
									</div>

									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Sign In">
											</div>
										</div>
									</div>

								</form>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endblock %}
	{% block footer-content %}
	<script src="{% static 'js/user/login-new.js' %}"></script>
	{% endblock footer-content %}
