{% extends "v3/final/base/base.html" %}
{% load staticfiles %}
{% load pds_extras %}
{% block header-metatags %}
        <title>{{ presenter }}</title>
        <meta name=”description” content='Learn more about the PDSquirrel presenter {{presenter}}'>
{% endblock header-metatags %}
{% block header-content %}
        <link rel="stylesheet" href="{% static 'css/user/presenter-landing.css' %}">
{% endblock header-content %}
{% block body %}
<div id = "main-content" class="container">
    <div class="row">
        <div class="pres-container col-xs-12 col-sm-10 col-sm-offset-1">
        	<div class="row">
				<div class="col-xs-12 col-sm-3" id="img-container">
					<img
					{# if no img uploaded by user, pull one of two placeholders #}
					{# tested: no #}
					src="/static/presenter_pics/{{presenter.image_name}}"
					 id="presenter-img" alt=""/>
					<ul id="presenter-info" class="hidden-xs">
						<br>

						<li>
							<b>{{presenter.law_firm}}</b>
						</li>
						{% if presenter.public_email %}
						<li>{{ presenter.public_email }}</li>
						{% endif %}

						{% if presenter.url %}
						<li><a target="_blank" href="http://{{presenter.url}}">{{presenter.url}}</a></li>
						{% endif %}
					</ul>
				</div>
                <div class="col-xs-7 col-sm-9 info-container hidden-xs">
		    		<br>
					<div id ="pres-header">
						<h2 class="name">{{ presenter }}{% if presenter.credentials %}, {{presenter.credentials}}</h2>
						{% endif %}
					</div>
          <div id="pres-location">
            <h3 class="location muted">{% if presenter.public_address.city %}{{presenter.public_address.city}}{% endif %}{% if presenter.public_address.province %}{% if presenter.public_address.city %}, {% endif %} {{presenter.public_address.province.initial}}{% endif %}</h3>
          </div>
					<div id="pres-body" class="hidden-xs">
						<p>{{bio|linebreaksbr}}</p>
					</div>
                </div>
				<div class="col-xs-12 hidden-sm hidden-md hidden-lg mobile-credentials mobile-info-container">
					<h3 id="mobile-name">{{ presenter }}{% if presenter.credentials %}, {{presenter.credentials}}{% endif %}</h3>

          <h4 id="mobile-location" class="text-center muted">{% if presenter.public_address.city %}{{presenter.public_address.city}}{% endif %}{% if presenter.public_address.province %}, {{presenter.public_address.province.initial}}{% endif %}</h4>
            <ul id="mobile-info">
							<li></li>
							{% if presenter.law_firm %}
							<li>
								{{presenter.law_firm}} {% if presenter.public_email or presenter.url %} <span id="divider">|</span> {% endif %}
							</li>
							{% endif %}
							{% if presenter.public_email %}

							<li> {{ presenter.public_email }} {% if presenter.url %} <span id="divider">|</span> {% endif %}</li>
							{% endif %}

							{% if presenter.url %}
							<li><a target="_blank" href="http://{{presenter.url}}">{{presenter.url}}</a></li>
							{% endif %}
						</ul>

				</div>
				<div class="col-xs-12 hidden-md hidden-sm hidden-lg" id="mobile-bio">
					<p>{{bio|linebreaksbr}}</p>
				</div>
          <div class="col-xs-12">
            {% include "v3/final/add-ons/social-media.html" with url=url %}
          </div>
            </div>

	<div class="row" id="resultrow">
		<div class="col-lg-12">
			{% if pd_list %}
			<hr>

			<h4>Sessions by this presenter </h4>
			<hr>

			{% for pd in pd_list %}
			<div id="pd-listing" class="row pdlisting">
				<div class="col-sm-2 hidden-xs">
              		<img src="/static/img/subject/{{ pd.subject.all.0.image_name }}" class="img-responsive">
					<p align="right" class="muted" style="color: grey">{{pd.subject.all.0}}</p>
				</div>
				<div class="col-sm-10 col-xs-12">
					<h3><a href="{% url 'detail' pd.id %}{% if query %}?_q={{query}}{% endif %}">{{pd.name}}</a></h3>
					<p>
						{{pd.description|truncatechars:155}}
						<span class="pd-list-small-info">
						<br>
						<b> Released on </b> {{pd.release_date|remove_time }}
						</span>
					</p>

				</div>
			</div>
			{% endfor %}

			{% else %}
			<p>This presenter has no sessions.</p>
			{% endif %}

			<br />
		</div>
	</div>

        </div>
    </div>

    <div id="browse-footer" class="container" >
      <div class="row">
        <div class="col-xs-12 col-lg-8 col-lg-offset-1">
          <hr>
          {% if range|length > 0 %}
          <p id="results">More results</p>
          <nav>
            <ul class="pagination">

              {% if pd_list.has_previous %}
              <li>
                <a href="?page={{ pd_list.previous_page_number }}" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              {% else %}
        	    <li class="disabled">
                <a aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              {% endif %}
              {% if range|length == 1 %}
              <li class="active" ><a>1</a></li>
              {% else %}
          	    {% for x in range %}
        	    <li {% if x == pd_list.number %} class="active" {% endif %}><a href="?page={{x}}">{{x}}</a></li>
          	    {% endfor %}
              {% endif %}
      				{% if pd_list.has_next %}
              <li>
                <a href="?page={{ pd_list.next_page_number }}" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
              {% else %}
              <li class="disabled">

                <a aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
      				{% endif %}
            </ul>
          </nav>
          {% endif %}
        </div>
      </div>
    </div>
</div>
{% endblock %}
