{% extends "v3/final/base/base.html" %}
{% load staticfiles %}
{% block header-metatags %}
        <title>{{ presenter }}</title>
        <meta name=”description” content='{{bio}}'>
{% endblock header-metatags %}
{% block header-content %}
        <link rel="stylesheet" href="{% static 'css/user/presenter-landing.css' %}">
{% endblock header-content %}
{% block body %}
<div id = "main-content" class="container">
    <div class="row">
        <div class=" pres-container col-xs-12 col-lg-10 col-lg-offset-1">
        	<div class="row">
				<div class="col-sm-4">
					<img
					{# if no img uploaded by user, pull one of two placeholders #}
					{# tested: no #}
					{% if presenter.image %}
					src="/static/presenter_pics/{{presenter.image_name}}"
					{% else %}
						{% if presenter.placeholder_type == 0 %}
							src="{{presenter.female_placeholder}}"
						{% elif presenter.placeholder_type == 1 %}
							src="{{presenter.male_placeholder}}"
						{% endif %}
					{% endif %}
					 id="presenter-img" alt=""/>
					<br>
					<ul id="presenter-info">
						<li>
							<b>{{presenter.law_firm}}</b>
						</li>

						{% if presenter.public_email %}
						<li>{{ presenter.public_email }}</li>
						{% endif %}

						{% if presenter.url %}
						<li><a target="_blank" href="https://{{presenter.url}}">{{presenter.url}}</a></li>
						{% endif %}
					</ul>
				</div>
                <div class="col-sm-8">
		    		<br>
					<div id ="pres-header">
						<h2 class="name">{{ presenter }}</h2>
						<h4 class="credentials">{% if presenter.credentials %}{{presenter.credentials}}{%endif%}</h4>
					</div>
					<div id="pres-body">
						<p>{{bio}}</p>
					</div>
                </div>
            </div>
			<div class="row">
				<div class="col-md-8 col-lg-6 col-xs-12">
					<h4>Sessions by this presenter </h4>
					<div class="list-group">
						{% for x in presenter.pdsession_set.all %}
					{% if x.approved %}
						<a class="list-group-item" href="{% url 'detail' x.id %}">{{x.name}}</a>
					{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>
        </div>
    </div>
</div>
{% endblock %}
