{% extends "v3/final/base/base.html" %}
{% load staticfiles %}
{% block header-metatags %}
        <title>PD Squirrel Privacy</title>
        <meta name=”description” content='Information on PDSquirrels privacy policy'>
{% endblock header-metatags %}
{% block body %}


<div class="container" id="main-content">


    <div class="row">
    		    <div class="col-lg-9 col-lg-offset-1">
    		    	<h3 class="my-page-header">Privacy Policy</h3>
			<hr>

<p>
    PD Squirrel Inc. recognizes the sensitivity of personal information and the importance of its privacy.  This

    Privacy Policy outlines how we manage your personal information and safeguard your privacy.  In this

    policy, ‘we’ and ‘us’ mean PD Squirrel Inc.  Please also see our terms and conditions applicable to any

    use whatsoever of this Website or any portion thereof.
</p>

<h4>
    Your privacy rights
</h4>

<p>
    All businesses engaged in commercial activities must comply with the Personal Information Protection

    and Electronic Documents Act, and the Canadian Standards Association Model Code for the Protection

    of Personal Information, which it incorporates.  The Act gives you rights concerning the privacy of your

    personal information.

    PD Squirrel Inc. is responsible for the personal information we collect and hold. To ensure we properly

    satisfy our obligations, we have developed and comply with this policy.
</p>

<h4>
    What is personal information and why do we collect it?
</h4>

<p>
    Personal information is any information that identifies you, or by which your identity could be deduced,

    including full name, address, birth date and other information.  PD Squirrel Inc. collects personal

    information to the extent reasonably required to provide our services to You, as a PD Squirrel member

    or other authorized user of the Site.  If we did not collect and use your personal information, we would

    not be able to provide you with our services.
</p>

<h4>
    How do we collect your personal information?
</h4>

<p>
    We collect information only by lawful and fair means, and not in an unreasonably intrusive way.

    Wherever possible we collect your personal information directly from you, both at the start of a retainer

    and in the course of our representation of you and our provision of legal services to you.

    Sometimes we may obtain information about you from other sources, if applicable in the circumstances,

    for example, a government agency or registry, your law society or your firm’s website.
</p>

<h4>
    Your consent
</h4>

<p>
    In some cases, we will ask you to specifically consent, if we collect, use, or disclose your personal

    information.  We may ask for your consent in writing or we may accept your oral consent.  Sometimes,

    your consent will be implied through your conduct with us, so please note that we do not always solicit

    your express written or oral consent.
</p>

<h4>
    Use of your information
</h4>

<p>
    We use your personal information to provide our services to you and to comply with our regulatory and

    legal obligations, if any, from time to time.  We also use your personal information to administer our

    membership databases (for example, for billing and PD report generation services) and to include you in

    any direct marketing activities or to advise you of new PD session releases (if you have given us consent

    to do so) from time to time, if any. For the sake of clarity, please be aware that we are never obliged to

    keep you abreast of any or all new legal developments; rather we may, at our discretion, decide to

    inform you of new PD sessions that are available on the Site, if you have asked us to so communicate to

    you.  If you tell us that you do not wish to receive from us information about our services or about new

    PD sessions being available on the Site, we will not send any further such information or material.
</p>

<p>
    We will not ask for, nor do we seek to obtain or use in any way, your Social Insurance Number as a way

    of identifying or organizing the information about you that we hold.
</p>



<p>
    We do not actively disclose your personal information to any third party for the purpose of enabling the

    said third party to market its products and services.
</p>

<h4>
    Disclosure of your information
</h4>

<p>
    Under certain circumstances, PD Squirrel Inc. will disclose your personal information, such as:
</p>

<ul>
    <li>
        when we are required or authorized by law to do so, for example if a court issues a subpoena;
    </li>

    <li>
        when you have given your consent to disclosure;
    </li>

    <li>
        where it is necessary to establish or collect fees for membership and services or products as

        described on our Site;
    </li>

    <li>
        if we engage a third party to provide administrative services to us (like computer back-up

        services or archival file storage) and the third party is bound by our privacy policy or a written

        privacy policy having substantially the same or similar protection of your personal information;

    and

    </li>
    <li>
        if the information is Publicly Available Personal Information, as it is defined under the Personal

        Information Protection and Electronic Documents Act.
    </li>
</ul>

<h4>
    Safeguarding your information
</h4>

<p>
    PD Squirrel Inc. takes all reasonable precautions to ensure that your personal information is kept safe

    from loss, unauthorized access, modification or disclosure.  These are some of the tools and means that

    we use to protect your information:
</p>

<ul>
    <li>
        physical security at our offices such as door, cabinet and other locks and security guard services;
    </li>

    <li>
        internal policies and procedures which restrict access to personal information to a need-to-

    know basis; and

    </li>
    <li>
        passwords, encryption procedures, firewalls and security software.
    </li>
</ul>

<h4>
    Access to your information and, if necessary, correcting errors
</h4>
<p>
    You may ask for access to any personal information we hold about you.  See our contact information

    below to reach our Privacy Contact at PD Squirrel Inc.  A summary of your personal information is

    available from us upon receiving your written request, and after we take reasonable steps to establish

    that the said request is from you.  More detailed requests which require archive or other retrieval costs

    may be subject to reasonable fees imposed by us.
</p>

<p>
    If PD Squirrel Inc. holds information about you and you can establish that it is not accurate, complete

    and up-to-date, PD Squirrel Inc. will take reasonable steps to correct it.  Please remember that using

    email or any internet based communications to send us your personal information or corrections is not a

    100% secure medium, and you should consider this when choosing to send us personal or confidential

    information.
</p>

<h4>
    Your rights to access your personal information are not absolute. We may deny access when:
</h4>

<ul>
    <li>
        it is required or authorized by law (for example, when a record containing personal information

        about you is protected by solicitor-client privilege);
    </li>

    <li>
        to do so would reveal confidential commercial information, and the personal information

        cannot be severed from the record;
    </li>

    <li>
        to do so could reasonably be expected to threaten the life or security of another individual, and

        the personal information cannot be severed from the record; or
    </li>

    <li>
        the information was generated in the course of a formal dispute resolution process.
    </li>
</ul>



<p>
    If we deny your request for access to, or refuse a request to correct information, we will explain why.
</p>

<h4>
    Changes to this Privacy Policy
</h4>

<p>
    PD Squirrel Inc. reviews and reconsiders all of its policies and procedures from time to time as business

    practices evolve and as laws change or to simply refresh its material as it considers reasonably

    appropriate.  We therefore may, at any time and without giving you notice, change our Privacy Policy.

    Please check this page at any time to again re-examine our Privacy Policy as you wish.
</p>

<h4>
    Requests for access
</h4>

<p>
    If you have any questions, or wish to access your personal information, please write to our
<mailto></mailto>
<F3>
    Privacy Contact at

<a href="mailto:info@pdsquirrel.ca?Subject=Privacy Concerns"target="_top">info@pdsquirrel.ca.</a>
</p>

<p>
    If you are not satisfied with our response, the Privacy Commissioner of Canada can be reached at 112

    Kent Street, Ottawa Ontario, K1A 1H3 (1-800-282-1376).
</p>

<h4>
    Other matters – employment inquiries and website visits
</h4>

<p>
    If you apply to PD Squirrel Inc. for a job, we need to consider your personal information, as part of our

    review process. We normally retain information from candidates after a decision has been made, unless

    you ask us not to retain the information. If we offer you a job, which you accept, the information will be

    retained in accordance with our privacy procedures for employee records.
</p>

<p>
    Our website contains links to other sites, which are not governed by this privacy policy. On our website,

    like most other commercial websites, we may monitor traffic patterns, site usage and related site

    information in order to better serve visitors and optimize our web service. We may provide aggregated

    information to third parties, but these statistics do not include any identifiable personal information.
</p>



    		    </div>
                </div>
</div>
{% endblock %}
