<div id="p_conf">
	<h3>Purchase Confirmation</h3>
	<table class="table">
		<tr>
			<td>Title</td>
			<td>{{ pd }}</td>
		</tr>
		<tr>
			<td>Ammount</td>
			<td>${{ pd.price }}</td>
		</tr>
		<tr>
			<td>Payment Method</td>
			{% if token %}
				<td>{{ token.card.brand }} **** **** **** {{ token.card.last4 }} Expires: {{token.card.exp_year}}</td>
			{% else %}
				<td>{{ source.brand }} **** **** **** {{ source.last4 }} Expires: {{source.exp_year}}</td>
			{% endif %}
	
		</tr>
	</table>
	<form action="{% url 'payment-process' %}" method="POST">
		{% csrf_token %}
		<input type="hidden" name="confirm">
		<input type="hidden" name="pd_id" value="{{pd.id}}">
		{% if token %}
		<input type="hidden" name="token_id" value="{{token.id}}">
		Save card for future purchases <input type="checkbox" name="save_card">
		{% else %}
		<input type="hidden" name="source_id" value="{{source.id}}">
		{% endif %}
		<input type="submit" class="btn btn-success" value="Confirm Purchase">

		<button class="btn btn-default" id="cancel_btn_two">Cancel</button>
	</form>
</div>
<script>
$('#cancel_btn_two').click(function(e) {
	e.preventDefault();
	location.reload();
});
</script>

