{% extends "v3/final/base/base.html" %}
{% block header-metatags %}
        <title>PDSquirrel Password Recovery</title>
        <meta name=”description” content='Recover your PDSquirrel password'>
{% endblock header-metatags %}
{% block body %}
<div id="main-content" class="container">
	<div class="row">
		<div class="col-xs-12">
			<h3>Password Recovery</h3>

		</div>
		<div class="col-xs-12">
			<p>Please enter the email address associated with your account.</p>
			<hr>
		</div>
    <div class="col-xs-12">
        <!--spits out messages from msg dict (type, body, title) -->
      <div class="msg-container">
        {% if messages %}
        {% for msg in messages %}
        <div class="alert alert-{{msg.tags}} msg" role="alert">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          {{msg|safe|escape}}
         </div>
        {% endfor %}
        {% endif %}
    </div>
    </div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<form class="" action="{% url 'recover' %}" method="post">
				{% csrf_token %}

				<div class="form-group">
				<label for="email">Type your email</label>
					<input type="text"  class="form-control" name="email">
				</div>
				<div class="form-group">
				<label for="vemail">Retype your email</label>
					<input type="text" class="form-control" name="vemail">
				</div>
				<input class="btn btn-success" type="submit" value="Submit">
			</form>
		</div>
	</div>
</div>
{% endblock %}
