{% extends "v3/final/base/base.html" %}
{% load staticfiles %}
{% load pds_extras %}
{% block header-metatags %}
        <title>PD Squirrel Presenters</title>
        <meta name=”description” content='Browse professional development talks, offered by lawyers, for lawyers'>
{% endblock header-metatags %}
{% block header-content %}
        <link rel="stylesheet" href="{% static 'css/user/browse.css' %}">
{% endblock header-content %}
{% block body %}

<style>
.pres-image {
	width: 150px;

}


.thumbnail_container {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  margin-bottom:10px;
  margin-top: 5px;
}

.thumbnail {
    position:absolute;
    width:100%;
    height:100%;
    background-color: transparent;
    border: none;
    box-shadow: none;
}
.thumbnail img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-height:100%;
    max-width:100%;
}
.presenter-info {
  height: 75px;
}

.person {
	margin-bottom: 20px !important;
  border: 1px solid #ddd;
  background-color: #eee;
  padding-left: 10px;
  padding-right: 10px;
}

.selected {
	font-weight: bold;
}

.banner {
  position: absolute;;
  width: 100%;
  height: 100%;
  left: 0;
  opacity: 0.4;
}
.banner-container {
  width: 100%;
  height: 40%;
  background: black;
}
.darken-img {
  background-image:
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.6)
    );
}
.title {
  position: absolute;
  padding-top: 120px;
  padding-bottom: 120px;
  width: 100%;
  z-index: 99;
  left: 0;
  color: white;
}
.title h2, .title p {
  width: 100%;
}
.title h2 {
  font-size: 4.5vh;
}
.title p {
  font-size: 2vh;
}
.search-container {
  margin-bottom: 15px;
}

</style>

<div id="main-content" class="container" style="padding-top:0px;">
  <div class="row">
    <div class="col-xs-12">
      <div class="title-container text-center title">
        <h2>Meet our Presenters</h2>
        <p>Click on a presenters name to view their biograpghy</p>
      </div>
    </div>
    <div class="col-xs-12" style="padding:0px;">
      <div class="banner-container">
        <img class="banner darken-img" src="/static/img/presenterbanner.jpg" alt="" />
      </div>
    </div>

	</div>
	<div class="row" style="margin-top: 20px">
    <!--
		<div class="col-xs-12 text-center">
      <h4>Filter by Society</h4>
		  <form action="{% url 'search-presenters' %}" method="GET">
			<input type="hidden" name="by-society" value="1">

			{% if selected == 0 %}
			  <button type="submit" name="society" value="0" class="btn btn-link selected">All presenters</button>
			  {% else %}
			  <button type="submit" name="society" value="0" class="btn btn-link">All presenters</button>
			  {% endif %}
			{% for society in societies %}
				{% if selected == society.id %}
			  <button type="submit" name="society" value="{{society.id}}" class="btn btn-link selected">{{ society }}</button>
			  	{% else %}
			  <button type="submit" name="society" value="{{society.id}}" class="btn btn-link">{{ society }}</button>
			  	{% endif %}
			  {% if not forloop.last %}
			  <span class="muted">|</span>
			  {% endif %}
			{% endfor %}
		  </form>
		</div>
  -->
    <div class="col-xs-10 col-xs-offset-1 text-center">
      <h4>Search for a presenter</h4>
      <div class="input-group search-container">
<input type="text" class="form-control" name = "query" id = "search_string" value="{% if type == 'search' %}{{query}}{% endif %}" placeholder="Search for..">
          <span class="input-group-btn">
          <button class="btn btn-success browse-btn-fix" type="submit">Go!</button>
          </span>
      </div>
    </div>
	</div>
  <div class="container-fluid">
    <div class="row">
  		{% for presenter in people %}
  		<div class="col-md-3 col-sm-4 col-xs-6">
        <div class="person">
          <div class="thumbnail_container">
            <div class="thumbnail">
              <a href="{% url 'presenter-detail' presenter.id %}" class="no-style-link">
              <img src="/static/presenter_pics/{{presenter.image_name}}"
        		   	 alt="">
               </a>
            </div>
          </div>
          <div class="presenter-info">
            <h4><a href="{% url 'presenter-detail' presenter.id %}">{{presenter}}</a></h4>
            <h5>{{presenter.credentials}}</h5>
            <h5>{{presenter.law_firm}}</h5>

          </div>
        </div>

      </div>
  		{% endfor %}
  	</div>
  </div>

</div>
{% endblock %}
{% block footer-content %}
<script src="{% static 'js/user/browse.js' %}"></script>
{% endblock footer-content %}
