{% extends "v3/final/base/base.html" %}
{% load staticfiles %}
{% block header-metatags %}
        <title>{{pd.name}}</title>
        <meta name=”description” content='{{pd.description}}'>
{% endblock header-metatags %}
{% block header-content %}
        <link rel="stylesheet" href="{% static 'css/user/view.css' %}">
{% endblock header-content %}
{% block body %}
<div class="container" id="main-content">
    <div class="row">
	{% if preview %}
	    <div class="col-lg-12">
		<ol class="breadcrumb">
		    <li><a href="{% url 'presenter-dash' %}">Presenter Dash</a></li>
		    <li class="active">Preview Session</li>
		</ol>
	    </div>
	    <div class="col-lg-12">
		<div class="msg-container">
      {% if messages %}
      {% for msg in messages %}
        <div class="alert alert-{{msg.tags}} msg" role="alert">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          {{msg}}
        </div>
      {% endfor %}
      {% endif %}
		</div>
	    </div>
	{% endif %}
	<div class="col-xs-12 col-md-offset-1">
	    <br />
	</div>
	<div class="col-md-offset-2 col-md-1 hidden-xs">
	{% if pd.presenters.all|length < 2 %}
	    {% for a in pd.presenters.all %}
		<img src="{% static 'img/speaker-placeholder-male.png' %}" alt=""  height ="120 px">
	    {% endfor %}
	    {% else %}
		<img src="/media/{{pd.presenters.all.0.img}}" alt="" width = "100%">
	    {% endif %}
	</div>
	<div id="session-info-container" class="col-md-8 col-xs-12">
	    <h3>{{pd.name}}</h3>
	    <p>
		{{ pd.presenters.all|join:", "}}{% if pd.presenters.all.0.credentials %}, {{pd.presenters.all.0.credentials}} {%endif%}
	    </p>
	    <p>{{pd.release_date}}</p>
	</div>
<div class = "col-sm-12 col-md-10 col-md-offset-2">
	    <video id="MY_VIDEO_1" class="video-js vjs-default-skin" controls preload="auto" width="70%" height="20" poster="MY_VIDEO_POSTER.jpg" data-setup="{}">
	    <source src="/{{pd.getAudioLocation}}" type='audio/mpeg'>
	    <p class="vjs-no-js">To view this video please enable JavaScript
	    <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
	    </video>
	</div>
	<div class="col-xs-12 col-md-8 col-md-offset-2">
	    <p id="description">{{pd.description}}</p>
	</div>
	{% if pd.attachments.all.count > 0 %}
	    <div class="col-xs-12 col-md-8 col-md-offset-2">
		<h4>Downloads</h4>
		<div class="list-group">
		    {% for file in pd.attachments.all %}
			<a class="list-group-item" target="_blank" href="/{{file.attachment}}">{{file.attachment}}</a>
		    {% endfor %}
		</div>
	    </div>
	{% endif %}
    </div>

    <!-- comments -->
    <div class="row">
      <div name="comment-section" class="col-xs-10 col-xs-offset-1">
        <div class="row">
          <h3>Comments</h3>
          <hr>
        </div>
        {% if comments %}
        {% for comment in comments %}
        <div class="comment row">
          <div class="col-xs-12">
            <div class="row comment-head">
              {% if comment.user.is_presenter %}
                <a class="presenter-link" href="{% url 'presenter-detail' comment.user.user.presenter.id %}"><b>{{ comment.user.user.first_name }} {{ comment.user.user.last_name }}</b></a>
              {% else %}
                <b>{{ comment.user.user.is_presenter }} {{ comment.user.user.first_name }} {{ comment.user.user.last_name }}</b>
              {% endif %}
              &nbsp;
              <span class="muted">{{ comment.date|date }}</span>
            </div>
            <div class="row comment-body">
              {{ comment.message }}
            </div>
            <div class="row comment-footer">
              <button type="button" class="btn btn-link muted toggle-reply" >reply</button>
              {% if comment.user.user == request.user or pd.presenters.all.0.user == request.user %}
              <button type="button" class="btn btn-link muted delete" value="{{ comment.id }}">delete</button>
              {% endif %}
            </div>
            <div class="row comment-reply hidden">
              <div id="comment-reply-{{ comment.id }}" class="form-group">
                <textarea name="reply-message" rows="2" class="form-control"></textarea>
                <br>
                <button name="reply-btn-{{ comment.id }}" type="button" class="btn btn-success pull-left" value="{{ comment.id }}">Comment</button>
              </div>
            </div>
          </div>
        </div>


        {% if comment.get_children %}
        <!-- Replies -->
        {% for reply in comment.get_children %}
        <div class="reply row">
          <div class="col-xs-10 col-xs-offset-2">
            <div class="row comment-head">
              {% if reply.user.is_presenter %}
                <a class="presenter-link" href="{% url 'presenter-detail' reply.user.user.presenter.id %}"><b>{{ reply.user.user.first_name }} {{ reply.user.user.last_name }}</b></a>
              {% else %}
                <b>{{ reply.user.user.is_presenter }} {{ reply.user.user.first_name }} {{ reply.user.user.last_name }}</b>
              {% endif %}
              &nbsp;
              <span class="muted">{{ reply.date|date }}</span>
            </div>
            <div class="row comment-body">
              {{ reply.message }}
            </div>
            <div class="row comment-footer">
              <button type="button" class="btn btn-link muted toggle-reply">reply</button>
              {% if reply.user == request.user  or pd.presenters.all.0.user == request.user %}
              <button type="button" class="btn btn-link muted delete" value="{{ reply.id }}">delete</button>
              {% endif %}
            </div>
            <div class="row comment-reply hidden">
              <div id="thread-reply-{{ reply.id }}" class="form-group">
                <textarea name="reply-message" rows="2" class="form-control">@{{ reply.user.user.first_name }}{{ reply.user.user.last_name }}</textarea>
                <br>
                <button name="reply-btn-{{ reply.id }}" type="button" class="btn btn-success pull-left" value="{{ comment.id }}">Comment</button>
              </div>
            </div>
           </div>
          </div>
          {% endfor %}
          {% endif %}

        {% endfor %}
        {% endif %}
          <div class="row">
            <div class="form-group">
              <label for="comment">Comment:</label>
              <input type="hidden" id="pd_id" name="pd_id" value="{{ pd.id }}">
              <textarea name="Message" rows="5" class="form-control"></textarea>
              <br>
              {% csrf_token %}
              <button name="reply-btn" type="button" class="btn btn-success" value="0">Comment</button>
            </div>
          </div>

        </div>
    </div>





</div>
{% endblock %}
{% block footer-content %}
<script type="text/javascript" src="{% static 'js/user/view.js' %}"></script>
{% endblock footer-content %}
