{% extends "v3/final/base/base.html" %}
{% load staticfiles %}
{% block body %}
<div class="container" id="main-content">
    <div class="row">
	{% if preview %}
	    <div class="col-lg-12">
		<ol class="breadcrumb">
		    <li><a href="{% url 'presenter-dash' %}">Presenter Dash</a></li>
		    <li class="active">Preview Session</li>
		</ol>
	    </div>
	    <div class="col-lg-12">
		<div class="msg-container"> 
		{% if messages %}
		    {% for msg in messages %}
			<div class="alert alert-{{msg.tags}} msg" role="alert">{{msg}} <a href="#"><i class="fa fa-times pull-right iclose"></i></a> </div>
		    {% endfor %}
		{% endif %}
		</div>
	    </div>
	{% endif %}
	
	
	<div class="col-xs-12 col-md-offset-1">
	    <br />
	</div>
	<div class="col-md-offset-2 col-md-1 hidden-xs">
	{% if pd.presenters.all|length < 2 %}
	    {% for a in pd.presenters.all %}
		<img src="{% static 'img/speaker-placeholder-male.png' %}" alt=""  height ="120 px">
	    {% endfor %}
	    {% else %}
		<img src="/media/{{pd.presenters.all.0.img}}" alt="" width = "100%">
	    {% endif %}
	</div>
	<div class="col-md-8 col-xs-12" style="margin-bottom: 30px">
	    <h3 style="margin-left: 50px">{{pd.name}}</h3>
	    <p style="margin-left: 50px">
		{{ pd.presenters.all|join:", "}}{% if pd.presenters.all.0.credentials %}, {{pd.presenters.all.0.credentials}} {%endif%}
	    </p>
	    <p style="margin-left: 50px">{{pd.release_date}}</p>
	</div>
<div class = "col-sm-12 col-md-10 col-md-offset-2">
	    <video id="MY_VIDEO_1" class="video-js vjs-default-skin" controls preload="auto" width="70%" height="20" poster="MY_VIDEO_POSTER.jpg" data-setup="{}">
	    <source src="/{{pd.getAudioLocation}}" type='audio/mpeg'>
	    <p class="vjs-no-js">To view this video please enable JavaScript 
	    <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
	    </video>
	</div>
	<div class="col-xs-12 col-md-8 col-md-offset-2">
	    <p style="margin-top: 20px">{{pd.description}}</p>
	</div>
	{% if pd.attachments.all.count > 0 %}
	    <div class="col-xs-12 col-md-8 col-md-offset-2">
		<h4>Downloads</h4>
		<div class="list-group">
		    {% for file in pd.attachments.all %}
			<a class="list-group-item" target="_blank" href="/{{file.attachment}}">{{file.attachment}}</a>
		    {% endfor %}
		</div>
	    </div>
	{% endif %}
    </div>
</div>
{% endblock %}
