{% extends "v3/final/base/base.html" %}
{% load staticfiles %}
{% block header-metatags %}
        <title>PDSquirrel About</title>
        <meta name=”description” content='PD Squirrel 500 Page.'>
        <meta name="ROBOTS" content="NOINDEX, FOLLOW">
{% endblock header-metatags %}
{% block body %}


<div class="container" id="main-content">
    <div class="row">
    		    <div class="col-lg-10 col-lg-offset-1">
    		    	<h3 class="my-page-header">500 Error</h3>

			<hr>



<p>
Sorry, it seems an error occured on our server.
</p>



    		    </div>
                </div>
</div>

{% endblock %}
