{# used for css files under 40 lines #}
<!-- load small css -->
<noscript id="deferred-styles">
  {% if css1 %}
  <link rel="stylesheet" type="text/css" href="/static/css/{{ css1 }}.css">
  {% endif %}
  {% if css2 %}
  <link rel="stylesheet" type="text/css" href="/static/css/{{ css2 }}.css">
  {% endif %}
</noscript>
<script>
  var loadDeferredStyles = function() {
    var addStylesNode = document.getElementById("deferred-styles");
    var replacement = document.createElement("div");
    replacement.innerHTML = addStylesNode.textContent;
    document.body.appendChild(replacement)
    addStylesNode.parentElement.removeChild(addStylesNode);
  };
  var raf = typeof requestAnimationFrame !== 'undefined' || mozRequestAnimationFrame ||
      webkitRequestAnimationFrame || msRequestAnimationFrame;
  if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
  else window.addEventListener('load', loadDeferredStyles);
</script>
<!-- end small css load -->
