
body {
    background-color: rgb(246,246,246);
}


#pd-listing h3 {
  font-size: 18px !important;
  margin-bottom: 0 !important; }
#pd-listing p {
  margin: 0;
  padding: 0;
  color: #545454;
  line-height: 1.4; }


.btn-default {
  height: 34px !important; }

.pd-list-small-info {
  color: grey;
  font-style: italic; }

.padded {
  margin-bottom: 15px !important; }

.fright {
  float: right; }

#main-content {
  min-height: 850px;
  border-radius: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.muted {
  color: grey;

 }

.removal-bar, .cancel-removal-bar {
  background-color: aliceblue;
  padding-top: 10;
  border-top: 1px solid #DDDDDD;
  position: relative;
  top: 10px; }

.pd-upload {
  padding-bottom: 0px; }

.submit-fix {
  margin-top: 10px; }

label {
  color: #717171 !important; }

.msg-container i {
  position: relative;
  bottom: 12;
  left: 10;
  color: #6B6B6B; }
