#card-input-buttons button{
	float: right;
	margin-left: 10px;
}
td {
  font-size: 14px;
  height: 20px;
  padding: 0px;
}

.hide-info-td {
	padding: 0px !important;
	border: none !important;
	height: 0px;
}

.no-indent {
  margin-left: 0px;
}

b {
  font-size: 14px;
  line-height: auto;
}

.pencil-icon-fix {
	line-height: 20px;
}



td {
  width: 200px !important;
}
h3 {
  margin-bottom: 20px;
}

#account_options {
  margin-top: 20px;
  background-color: white;
}

#error-container {
  padding-left: 0;
  margin-top:20px
}
.alert-info {
  margin-top:10px;
}

.delete-card {
  clear: both;
  height: 55px;
}
.delete-card-form {
  float: left;
  margin-left: 10px;
}

#showPayment {
  margin-top: 10px;
}

#showCredit {
  margin-top: 10px;
}
#change-default-sub-container {
  height: 130px;
}

#btnholder {
  margin-top: 10px;
}

@media all and (max-width: 610px) {
  #change-default-sub-container {
    height: 160px;
  }
}

@media all and (max-width: 665px) {
  .delete-card {
    height: 85px;
  }
}

@media all and (max-width: 1200px) {
  .account-header {
    margin-left: 5px;
  }
}
