.plack {
    width: 400px;
    border: 5px outset;
    margin-bottom: 40px;
}

#mobile-img {
  width: 100%;
}

.indent {
  margin-left: 15px;

}

#contact {
  margin-top: 20px;
}

#info-box-row {
  margin-bottom: 0px !important;
}
