
.pres_link {
	float: left;
	margin-left: 15px;
}

.audio_player {
	margin-left: 20px;
}
/*
.play-pause {
	line-height: 16.8px !important;
	width: 38px !important;
}*/
.audio_row {
	margin-top: 20px;
}

.pres_header {
	overflow: auto;
}

@media screen and (max-width: 992px) {
	.pres_link {
		margin-left: 30px;
	}
}

@media screen and (max-width: 767px) {
	.pres_link {
		margin-left: 0px;
	}
	.pres_header {
		padding-left: 0px !important;
	}
	.audio_player {
		padding-left: 0px !important;
		margin-left: 0px;
	}
}


.btn-lg {
	margin-top:20px;
	margin-bottom:20px;
}

#session_pres_img {
margin-bottom: 0px !important;
float: left;
}
#page_title {
	margin-bottom: 20px;
}
#pres_firm {
	font-size: 14px;
}
#c_form {
	margin-bottom: 0px;
}
#payment-method {
  color: #8a6d3b;
}

#session-details {
	margin-top:20px
}

#confirm-purchase-btn {
	margin-left: 10px;
}
table {
	line-height: normal;
	font-size: 14px;
}
#form-submit {
  margin-top: 20px;
  padding-left: 30px;
}

#new-card {
  margin-bottom: 20px;
}

#pres-img-container {
  margin-top: 20px;
}

#session_pres_img {
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
  height: 90px;
}

#description {
  min-height: 200px;
}

h4 {
	margin-bottom:20px;
}

/* Comment Section CSS */

.comments_disabled_row {
	margin-top: 10px;
}

.presenter-link {
  color: inherit;
}

.comment-head {
  margin-bottom: 5px;
}

.comment, .reply {
  margin-bottom: 8px;
}


.toggle-reply, .delete {
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  margin-right: 6px;
}

.submit-comment-btn, .cancel-comment-btn {
	margin-top: 5px;
	float: right;
}

.cancel-comment-btn {
	margin-right: 5px;
	height: 26px !important;
}

.comment-input {
	border-radius: 0;
}

/* Firefox override on comments buttons because they are different sizes */
@-moz-document url-prefix() {
	.cancel-comment-btn {
		height: 24px !important;
	}
}
@media screen and (max-width: 580px) {
	.mute, .volume {
		display: none;
	}
	.audiojs .scrubber {
		width: 64% !important;
	}
}

@media screen and (max-width: 992px) {
	.audiojs .scrubber {
		width: 55%;
	}
	.audio_col {
		padding: 5px;
	}
}

@media screen and (max-width: 440px) {
	.audiojs .scrubber {
		width: 54% !important;
	}
}


/*
@media screen and (max-width: 635px) {
	.audiojs .volume {
		width: 50px;
	}
	.audiojs .volume .percent {
		width: 25px;
	}
	.audiojs .mute {
		font-size: 16px;
		padding-left: 2px;
		padding-right: 2px;
	}
	.audiojs {
		width: 425px;
	}
	.audiojs .time {
		padding: 0px 6px 0px 6px;
		margin: 0px;
	}
	.audiojs .scrubber {
		width: 200px;
		margin-left: 5px;
		margin-right: 5px;
	}
}

@media screen and (max-width: 460px) {
	.audiojs .play-pause {
		width: 33px !important;
		padding: 4px 3px;
	}
	.audiojs {
		width: 375px;
	}
	.audiojs .scrubber {
		width: 160px;
	}
}
*/
