.pres_link {
	float: left;
	margin-left: 15px;
}

.pres_header {
	overflow: auto;
}
.player {
	margin-left: 10px;
	margin-bottom: 15px;
	display: block;
}

@media screen and (max-width: 992px) {
	.pres_link {
		margin-left: 30px;
	}
	.player {
		margin-left: 25px;
	}

}

@media screen and (max-width: 768px) {
	.pres_link {
		margin-left: 0px;
	}
	.player {
		margin-left: 0px;
		margin-bottom: 20px;
	}
	.pres_header {
		padding-left: 0px !important;
	}
	.audio_player {
		padding-left: 0px !important;
	}
}


.btn-lg {
	margin-top:20px;
	margin-bottom:20px;
}

#session_pres_img {
margin-bottom: 0px !important;
float: left;
}
#page_title {
	margin-bottom: 20px;
}
#pres_firm {
	font-size: 14px;
	margin-top: 2px;
}
#pres_location {
	font-size: 16px;
	margin: 5px 0px 0px 0px;
}

#c_form {
	margin-bottom: 0px;
}
#payment-method {
  color: #8a6d3b;
}

#session-details {
	margin-top:20px
}

#confirm-purchase-btn {
	margin-left: 10px;
}
table {
	line-height: normal;
	font-size: 14px;
}
#form-submit {
  margin-top: 20px;
  padding-left: 30px;
}

#new-card {
  margin-bottom: 20px;
}

#pres-img-container {
  margin-top: 20px;
}

#session_pres_img {
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
  height: 90px;
}

#description {
  min-height: 200px;
}

h4 {
	margin-bottom:20px;
}

/* Comment Section CSS */

.comments_disabled_row {
	margin-top: 10px;
}

.presenter-link {
  color: inherit;
}

.comment-head {
  margin-bottom: 5px;
}

.comment, .reply {
  margin-bottom: 8px;
}


.toggle-reply, .delete, .toggle-edit {
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  margin-right: 6px;
}

.submit-comment-btn, .cancel-comment-btn, .cancel-edit-btn, .submit-edit-btn {
	margin-top: 5px;
	float: right;
}

.cancel-comment-btn, .cancel-edit-btn {
	margin-right: 5px;
	height: 26px !important;
}

.comment-input {
	border-radius: 0;
}

/* Firefox override on comments buttons because they are different sizes */
@-moz-document url-prefix() {
	.cancel-comment-btn, .cancel-edit-btn {
		height: 24px !important;
	}
}
