
#main-content {
  padding-top: 0px;
  min-height: 283px;
  padding-bottom: 50px;
}


#HomePageSearch div {
	display: inline-block;
}

.submit {
	padding-bottom: 50px;
}
#brand-div {
	background: url('/static/img/brand8_no_color.resized.png') top center no-repeat;
	background: url('/static/img/brand8.resized.png') top center no-repeat;
	background-size: contain;
	height: 400px;
	margin-top: 20px;
}

#search-bar {
	margin-top: 250px;
	margin-left: 50px;
}

.session a p {
  color: brown;
  color: #c3b969;
  font-size: 12px;
  margin-top: 0px;
  margin-bottom: 0px;
}


.presenter:hover {
  color: brown !important;
  color: #c3b969 !important;
}


.session a h4 {
  color: #333;
  font-size: 15px;
  margin-top: 2px;
  margin-bottom: 0px;
}

.no-style-link {
	min-height: 400px;
}

h3 {
	font-size: 20px;
}



.home-search-btn {
	height: 34px;
	margin-bottom: 20px;
    background-color: rgb(72, 165, 107);
	background-color: #9EBF7B;
    border: 1px solid #6DBCBF !important;
    border: 1px solid black !important;
 -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12) !important;
    color: white;
    font-size: 1.4em;
    width: 75px !important;
	position: relative;
	bottom:8px;
}

@media screen and (max-width: 1200px) {
	#brand-div {
		height: 330px;
	}
	#search-bar {
		margin-top: 200px;
		margin-left: 90px;
	}
}

@media screen and (max-width: 992px) {
	#brand-div {
		height: 250px;
	}
	#search-bar {
		margin-top: 150px;
		margin-left: 220px;
	}
}

.home-search {
	width: 400px !important;
	margin-top:10px;
}

@media screen and (max-width: 768px) {
	#brand-div {
		height: 230px;
		background-size: contain;
	}
	#search-bar {
		margin-top: 130px;
		margin-left: 0px !important;
		margin-right: 50px !important;
		float: right;
	}
	.home-search {
		width: 300px !important;
	}
}

@media screen and (max-width: 605px) {
	#brand-div {
		height: 175px;
		background-size: contain;
	}
	#search-bar {
		margin-top: 90px;
		margin-left: 0px !important;
		margin-right: 20px !important;
		float: right;
	}
	.home-search {
		width: 350px !important;
	}

	.home-search-btn {
		width: 50px !important;
	}
}

@media screen and (max-width: 475px) {
	#brand-div {
		height: 130px;
		background-size: contain;
	}
	#search-bar {
		margin-top: 60px;
		margin-left: 0px !important;
		margin-right: 20px !important;
		float: right;
	}
	.home-search {
		width: 250px !important;
	}

	.home-search-btn {
		width: 40px !important;
	}
}
@media screen and (max-width: 370px) {
	#brand-div {
		height: 100px;
		background-size: contain;
	}
	#search-bar {
		margin-top: 40px;
		margin-left: 0px !important;
		margin-right: 0px !important;
		float: right;
	}
	.home-search {
		width: 200px !important;
	}

	.home-search-btn {
		width: 40px !important;
	}
}

.title-row {
  margin-top: 10px;
}

.content-row {
  margin-bottom: 15px;
}

/* Important for Bootstrap override */
#browse-by-subject button {
  padding: 0px !important;
  color: #7b9651 !important;
  font-size: 18px !important;
}

form h4 {
  display: inline-block;
  color:#7b9651;
}

.subject-divider {
   color: #c3b969;
}

.vertical-divider {
  width: 90%;
  margin-top: 35px;
  margin-bottom: 10px;
  color: black;
}

.session small {
  text-align: right;
  width: 100%;
  display: block;
}

.session{
	margin-top: 25px;
}

.session .img-box{
	opacity: 1;
	display: block;
	position: relative;
}



@media screen and (max-width: 767px) {
  .session a h4{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .session a p{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

@media screen and (max-width: 382px) {
  .session small span{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}


.featured_box {
    background-color:#ffffff;
  	padding:5px;
  	margin:3px 0;
    border: 1px solid #cfcfcf;
}

.content_row {
  padding-left: 7.5px;
  padding-right: 7.5px;
  text-align: center;
}

.featured_title {
    font-weight:bold;
    font-size:1.1em;
	  padding-top:5px;
}

.portrait {
   height: 200px;
   width: 140px;
}

.subject_pic {
  height: 110px;
  min-width: 140px;
  width: 160.5px !important;
  line-height: 1.42857143;
  padding: 4px;
  max-width: 100%;
}

.content_container {
  height: 210px;
  min-width: 150px;
}

.featured_box:hover {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.no-style-link {
  color: inherit;
}
.no-style-link:hover {
  color: inherit;
}
