
#main-content {
  min-height: auto;
  padding-top: 0px;
}


#HomePageSearch div {
	display: inline-block;
}

.submit {
	padding-bottom: 50px;
}
#brand-div {
	background: url('/static/img/brand6.PNG') top center no-repeat;
	background-size: contain;
	height: 400px;
	margin-top: 20px;
}

#search-bar {
	margin-top: 250px;
	margin-left: 50px;
}

.home-search {
	width: 400px !important;
	margin-top:10px;
}

@media screen and (max-width: 1200px) {
	#brand-div {
		height: 330px;
	}
	#search-bar {
		margin-top: 220px;
		margin-left: 90px;
	}
}

@media screen and (max-width: 992px) {
	#brand-div {
		height: 250px;
	}
	#search-bar {
		margin-top: 170px;
		margin-left: 220px;
	}
}

.search-sm-col {
	height: 40px !important;
}
#search-bar-sm {
	margin: 0 auto;
	padding-top: 10px;
}

@media screen and (max-width: 768px) {
	#brand-div {
		background: url('/static/img/brand6_small.PNG') top center no-repeat;
		background-size: contain;
	}
	#search-bar {
		margin-top: 130px;
		float: right;
	}
	.home-search {
		width: 400px !important;
		margin: auto;
	}
}


.home-search-btn {
	height: 34px;
	margin-bottom: 20px;
    background-color: rgb(72, 165, 107);
    border: 1px solid #6DBCBF !important;
    border: 1px solid black !important;
 -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12) !important;
    color: white;
    font-size: 1.4em;
    width: 75px !important;
	position: relative;
	bottom:8px;
}



.featured_box {
    background-color:#ffffff;
  	padding:5px;
  	margin:3px 0;
    border: 1px solid #cfcfcf;
}

.content_row {
  padding-left: 7.5px;
  padding-right: 7.5px;
}

.featured_title {
    font-weight:bold;
    font-size:1.1em;
	  padding-top:5px;
}

.portrait {
   height: 200px;
   width: 140px;
}

.subject_pic {
  height: 110px;
  min-width: 140px;
}

.content_container {
  height: 195px;
  min-width: 150px;
}

.featured_box:hover {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a {
  color: inherit;
}
a:hover {
  color: inherit;
}
/*
@media all and (min-width: 1200px) {
  #search-bar {
    position: absolute;
    right: 80px;
    margin-right: 40px;
    margin-top: 75px;
  }
}
*/


