.control-label {
	color: (85,85,85);
	font-weight: normal;
}

#term-div {
  padding-bottom: 0;
  margin-bottom: 0;
}

#termdiv {
  padding-left: 15px;
}

#darken {
  color: black;
}

#form-container {
	margin-top: 18px;
}

.learn-img {
	padding: 40px;
}

.sub-header {
	color: grey;
	margin-bottom: 0px
}
