
.plack {
    border: 5px;
    border-style: outset;
    width: 400px;
}

.my-page-header {
  margin-top: 0px;

}

.right-plack {
  float: right;
}

table {
  margin-bottom: 0px !important; /* Overwrites bootstrap */
}
