

.pres-container {
	margin-top: 20px;
}

#xs-header {
	margin-bottom: 15px;
}
#xs-header h2 {
	margin-top: 0px;
}

.name {
  display: inline-block;
  font-size: 24px;
}

.credentials {
    color: grey;
    margin-top: 0px;
    display: inline-block;
    margin-left: 8px;
    font-size: 15px;
}

#presenter-img {
  width: 90%;
  margin-bottom: 20px;
  min-width: 130px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
}

#presenter-info {
  list-style-type: none;
  padding-left: 0px;
}

#pres-header {
  padding-left: 15px;
  padding-right: 15px;
}

#pres-header h2 {
	margin-top: 0px;
}

#pres-header h4 {
	padding-bottom: 20px;
}

#pres-body {
  margin-top:20px;
  padding-top:10px;
}

#pres-body p {
  margin-left: 15px;
}

.list-group-item:hover {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.list-group-item {
  margin-top: 5px;
  margin-bottom: 5px;
}

.pd-header {
  margin-left: 10px;
}

.pd-name {
  font-size: 18px;
}

.pd-date {
  display: inline-block;
  font-size: 13px;
}

.pd-info-container {
  padding-left: 15px;
}

.subject-container {
  width: 176 !important;
float: left;
margin: 0 10px 10px 10px;
width: auto;
}

.subject-container img {
  height: 110px;
}

.subject-container small {
  float: right;
}

a > *  {
  color: #333;

}

a:hover {
  text-decoration: none;
}

li > a:hover {
  text-decoration: underline;
}
