#library-link {
  margin-left: 20px;
}

#session-info-container {
  margin-bottom: 30px;
  margin-left: 50px
}

#description {
  margin-top: 20px;
}

.comment-head {
  margin-bottom: 5px;
}

.comment, .reply {
  margin-bottom: 8px;
}

.reply-container {
  padding-left: 0px;
}

.toggle-reply, .delete {
  padding-left: 0px;
  padding-top: 0px;
}
