{% load staticfiles %}
{% block header-content %}
<link rel="stylesheet" href="{% static 'css/presenter/presenter-hub.css' %}">
{% endblock header-content %}

<div class="row">
		<div class="col-lg-9 col-lg-offset-1">
			<div class="msg-container">
			    {% if messages %}
			    {% for msg in messages %}
				<div class="alert alert-{{msg.tags}} msg" role="alert">{{msg}}<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a></div>
			    {% endfor %}
			    {% endif %}
			</div>
		</div>
</div>
<div class="row">
    <div class="col-lg-9 col-lg-offset-1">
    {% if presenter.bio %}
    <h4>Use this page to change your bio information 
		<small><a href="{%url 'presenter-detail' presenter.id %}" target="_blank">(click here to see your existing bio page)</a></small>
	</h4>
    {% else %}
    <h4>Use this page to upload your bio <small>You can always make changes in the future.</small></h4>
    {% endif %}
    <hr>
    <form action="{% url 'presenter-dash' %}" method="POST" enctype="multipart/form-data" >
	{% csrf_token %}
	<input type="hidden" name="edit-pres-public" value="1">
	    <div class="row">
			<div class="col-sm-6">
				<label for="">Credentials</label>
				<input type="text"class="form-control" name="credentials" value="{{presenter.credentials}}">
			</div>
			<div class="col-sm-6">
				<label for="">Photo Placeholder</label>
				<br>
				<input {% if presenter.placeholder_type == 1 %} checked {% endif %} type="radio" name="placeholder_gender" value="male"> Male
				<input {% if presenter.placeholder_type == 0 %} checked {% endif %}type="radio" name="placeholder_gender" value="female"> Female
				<input {% if presenter.placeholder_type > 1 %} checked {% endif %} type="radio" name="placeholder_gender" value="upload"> Upload my Own
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 col-sm-offset-6">
				<label for="">Photo</label>
				<input class="form-control" type="file" name="photo">
				{% if presenter.image %}
				<p class="help-text">
				Current File: <a target = "_blank" href="/static/presenter_pics/{{presenter.image_name}}">{{presenter.image_name}}</a>
				<input type="checkbox" name="clear_photo" value="1"> Clear photo
				</p>
				{% endif %}
			</div>
	    </div>
		<div class="row">
			<div class="col-lg-12">
				<div class="control-group">
					<label for="">Bio</label>
					<textarea class="form-control"id="" name="bio" cols="30" rows="10">{{presenter.bio}}</textarea>
				</div>
				<div class="control-group">
					<input type="submit" class="btn btn-success submit-fix">
					<a class="btn btn-default submit-fix" href="{% url 'presenter-dash' %}">Cancel</a>
				</div>
			</div>
		</div>
    </form>
   </div>
</div>
