{% load staticfiles %}
{% if not presenter.bio or not presenter.law_firm or not presenter.public_address.city or not presenter.public_address.province %}
<div class="row">
  <div class="col-lg-9 col-lg-offset-1">
    <div class="alert alert-info">
      <p>
        The bio, law firm, city and province fields are required for your presenter page to be viewed on PD Squirrel.
      </p>
    </div>
  </div>
</div>
{% endif %}
<div class="row">
    <div class="col-lg-9 col-lg-offset-1">
    {% if presenter.bio and presenter.law_firm and presenter.public_address.city and presenter.public_address.province %}
    <h4>Update your presenter page
		<small><a href="{%url 'presenter-detail' presenter.id %}" target="_blank">(click here to see your existing page)</a></small>
	</h4>
    <hr>
    {% else %}
    <h4>Use this page to upload your bio <small>You can always make changes in the future.</small></h4>
    <hr>
    {% endif %}

    <form action="{% url 'presenter-dash' %}" method="POST" enctype="multipart/form-data" >
	{% csrf_token %}
	<input type="hidden" name="edit-pres-public" value="1">

			<div class="row" style="margin-bottom: 15px;">
				<div class="col-lg-12">
					<div class="control-group">
						<label for="bio">Bio</label>
						<textarea class="form-control" name="bio" cols="30" rows="5">{% if presenter.bio %}{{presenter.bio}}{% endif %}</textarea>
            <p class="text-muted form-text">To add a link to your bio use the following format [display text](url)</p>         
          </div>

				</div>
			</div>

			<div class="row">
				<div class="col-sm-6">
					<label for="photo">Photo</label>
					<input class="form-control" type="file" name="photo">
					{% if presenter.image %}
					<p class="help-text">
					Current File: <a target = "_blank" href="/static/presenter_pics/{{presenter.image_name}}">{{presenter.image_name}}</a>
					<input type="checkbox" name="clear_photo" value="1"> Clear photo
					</p>
					{% else %}
					<p class="help-text muted">
					Currently using placeholder
					</p>
					{% endif %}
				</div>
			</div>

	    <div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<label for="credentials">Your designation(s)</label>
					<input type="text" class="form-control" name="credentials" value="{% if presenter.credentials %}{{presenter.credentials}}{% endif %}">
				</div>
				<div class="form-group">
					<label for="public_email">Law or accounting firm</label>
					<input type="text" class="form-control" name="law_firm" value="{% if presenter.law_firm %}{{presenter.law_firm}}{% endif %}">
				</div>
        <div class="form-group">
          <label for="city">City</label>
          <input type="text" class="form-control" name="city" value="{% if presenter.public_address.city %}{{presenter.public_address.city}}{% endif %}" >
        </div>

			</div>

			<div class="col-sm-6">
				<div class="form-group">
					<label for="public_email">Email</label>
					<input type="text" class="form-control" name="public_email" value="{% if presenter.public_email %}{{presenter.public_email}}{% endif %}">
				</div>
				<div class="form-group">
					<label for="url">Firm's website address</label>
					<input type="text" class="form-control" name="url" value="{% if presenter.url %}{{presenter.url}}{% endif %}">
				</div>
        <div class="form-group">
          <label for="province">Province</label>
          <select class="form-control" name="province">
            <option value="{% if presenter.public_address.province %}{{presenter.public_address.province.id}}{% endif %}">{% if presenter.public_address.province %}{{presenter.public_address.province}}{% endif %}</option>
            {% for province in provinces %}
						<option value="{{province.id}}" >{{province}}</option>
						{% endfor %}
            <option value=""></option>
					</select>
        </div>

			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<div class="control-group">
					<input type="submit" class="btn btn-success submit-fix" value="Submit">
					<a class="btn btn-default submit-fix" href="{% url 'presenter-dash' %}">Cancel</a>
				</div>
			</div>
		</div>
    </form>
   </div>
</div>
