{% load pds_extras %}
{% load staticfiles %}

<script src="{% static 'js/presenter/analytics.js' %}"></script>

<div class="analytics-container">
    <div class="row" id="analytics-date">
        <div class="col-lg-9 col-lg-offset-1">
    	    <h4 style="margin-bottom: 0">Analytics
            <small class="text-danger">This tab is presently for illustration only &ndash; earnings are not actual</small>
          </h4>

    	    <hr style="margin-top: 10px">
    	    <form id="analytics-form" action="{% url 'analytics-report' %}" method="POST">
    	        {% csrf_token %}
    	        <div class="row" style="margin-bottom:20px">
    	            <div class="col-lg-3 col-xs-6">
    	                <label class="date-label" for="">Start (mm/dd/yyyy)</label>
    	                <input type="date" name="start" class="form-control" value="{{start.year}}-{% if start.month < 10 %}0{% endif %}{{start.month}}-{% if start.day < 10%}0{%endif%}{{start.day}}">
    	            </div>
    	            <div class="col-lg-3 col-xs-6">
    	                <label class="date-label" for="">End (mm/dd/yyyy)</label>
    	                <input type="date" name="end" class="form-control" value="{{end.year}}-{% if end.month < 10 %}0{% endif %}{{end.month}}-{% if end.day < 10%}0{%endif%}{{end.day}}">
    	            </div>
    	            <div class="col-lg-2 col-xs-4">
    	                <input type="hidden" name="date-rng">
    	                <input type="submit" style="margin-top: 25px" class="btn btn-success" onclick="$('#analytics-report').removeClass('hidden')" value="Generate report">
    	            </div>
                  <script type="text/javascript">
                  //if (isFireFox)
                    if (typeof InstallTrigger !== 'undefined') {
                      var labels = document.getElementsByClassName('date-label');
                      labels[0].innerHTML = "Start (yyyy-mm-dd)"
                      labels[1].innerHTML = "End (yyyy-mm-dd)"
                    }
                  </script>
    	        </div>
    	    </form>
        </div>
    </div>
	<div id="result">
	</div>
</div>
