{% extends "v3/final/base/base.html" %}
{% load staticfiles %}
{% load pds_extras %}

{% block header-metatags %}
		<title>Presenter Hub</title>
		<meta name=”description” content='Presnter hub landing page'>
{% endblock header-metatags %}
{% block header-content %}
		<link rel="stylesheet" href="{% static 'css/presenter/presenter-hub.css' %}">
{% endblock header-content %}
{% block body %}
<div id="main-content" class="container">
    <div class="col-lg-9 col-lg-offset-1" style="padding: 0">
		<h3 class="my-page-header">Presenter Hub<small> ({{presenter}}{% if presenter.credentials %}, {{presenter.credentials}}{% endif %})</small></h3>
		<div class="presenter-nav-container">
			<div class="row">
				<div class="col-lg-12">
					<ul class="nav nav-tabs" id="pres-hub-nav">
						<li class="active" id="dash-link" ><a class="pres-link" _url='/user/presenter/dash/?landing' _direct_to='dash' onclick="loadXMLDoc('/user/presenter/dash/?landing', '#page-content', 'dash')">Dash</a></li>
						<li id="analytics-link"><a class="pres-link" _url='/user/presenter/dash/?analytics' _direct_to='analytics' onclick="loadXMLDoc('/user/presenter/dash/?analytics', '#page-content', 'analytics')">Analytics</a></li>
						<li id="info-link"><a class="pres-link" _url='/user/presenter/dash/?myaccount' _direct_to='info' onclick="loadXMLDoc('/user/presenter/dash/?myaccount', '#page-content', 'info')">Bio</a></li>
						<li id="private-info-link"><a class="pres-link" _url='/user/presenter/dash/?myinfo' _direct_to='private' onclick="loadXMLDoc('/user/presenter/dash/?myinfo', '#page-content', 'private' )">Personal</a></li>
						<li id="sessions-link"> <a class="pres-link" _url='/user/presenter/dash/?mysessions' _direct_to='sessions' onclick="loadXMLDoc('/user/presenter/dash/?mysessions', '#page-content', 'sessions')">Sessions</a></li>
						<li id="upload-link"><a class="pres-link" _url='/upload/', _direct_to='upload' onclick="loadXMLDoc('/upload/' , '#page-content', 'upload')">Upload</a></li>
						<li id="record-link"><a class="pres-link" _url='/record/' _direct_to='recorder' onclick="loadXMLDoc('/record/' , '#page-content', 'recorder')">Record</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="row"> {# Content for presenter hub goes here #}
		<div class="col-lg-12">
			<div id="page-content">
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block footer-content %}
<script src="{% static 'js/myscript.js' %}"></script>
<script>


/*
	This function uses variables from the template language,
	so we can't move it to static. This is fine for now.
*/

	$('button').click(function() {
	     $('button').removeClass('active');
	     $(this).addClass('active');
	});

	if ("{{direct_to}}" == "sessions") {
	    loadXMLDoc('/user/presenter/dash/?mysessions', '#page-content');
	    $("li").removeClass("active");
	    $("#sessions-link").addClass("active");
	}

	else if  ("{{direct_to}}" == "upload") {
	    loadXMLDoc('/upload', '#page-content');
	    $("li").removeClass("active");
	    $("#upload-link").addClass("active");

	}

	else if  ("{{direct_to}}" == "info") {
	    loadXMLDoc('/user/presenter/dash/?myaccount', '#page-content');
	    $("li").removeClass("active");
	    $("#info-link").addClass("active");
	}

	else if  ("{{direct_to}}" == "recorder") {
	    loadXMLDoc('/record/', '#page-content');
	    $("li").removeClass("active");
	    $("#record-link").addClass("active");
	}

	else if  ("{{direct_to}}" == "analytics") {
	    loadXMLDoc('/user/presenter/dash/?analytics', '#page-content');
	    $("li").removeClass("active");
	    $("#analytics-link").addClass("active");
	}

	else if  ("{{direct_to}}" == "private") {
	    loadXMLDoc('/user/presenter/dash/?myinfo', '#page-content');
	    $("li").removeClass("active");
	    $("#private-info-link").addClass("active");
	}

	else {
	    loadXMLDoc('/user/presenter/dash/?landing', '#page-content');
	    $("li").removeClass("active");
	    $("#dash-link").addClass("active");
	}

	$("a").click(function() {
	    $(".msg-container").empty();
    	});
</script>
{% endblock footer-content %}
