{% load staticfiles %}
	<script src="{% static 'js/presenter/edit.js' %}"></script>

<div class="row">
	<div class="col-xs-9 col-lg-offset-1">
		<div class="msg-container">
			{% if messages %}
			{% for msg in messages %}
			<div class="alert alert-{{msg.tags}} msg" role="alert">{{msg}}<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a></div>
			{% endfor %}
			{% endif %}
		</div>
	</div>
	<div class="col-lg-9 col-lg-offset-1">
		<a onclick="loadXMLDoc('/user/presenter/dash/?mysessions', '#page-content')">Back to my sessions</a>
		<h4>Use this page to make changes to '{{sesh}}' <small><a class="status-link" id ="infoLink" onclick="showInfo(this)">(info ▾)</a></small></h4>
		<div class="row hidden" id="info-row">
			<div class="col-lg-12">
				<div class="alert alert-info">
					<p>
						Make changes to your session below.
						After saving, you have the opportunity to
						preview your session, via the Sessions tab, before releasing.
					</p>
					<div class="row">
						<div class="col-lg-12">
							<button class="btn btn-default pull-right" onclick="closeInfo()">Close</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<form class="form-horizontal" action="{% url 'edit' sesh.id %}" method = "POST"  enctype="multipart/form-data" >
			{% csrf_token %}
			<fieldset>
				<div class="row">
					<div class="col-lg-8">
						<div class="control-group">
							<label class="control-label" for="name" >Title</label>
							<div class="controls">
								{% if sesh.presenter_approved == True %} {# Only allow title edits before presenter has released session #}
								<input id="name" name="name" value="{{sesh.name}}" disabled type="text" placeholder="" class="form-control" required="">
								{% else %}
								<input id="name" name="name" value="{{sesh.name}}"  type="text" placeholder="f3rffefw" class="form-control" required="">
								{% endif %}
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="control-group">
							<label class="control-label" for="">Subjects</label>
							<div class="controls">
							<select multiple class="form-control"  name="subjects">
							{% for subject in subjects %}
								{% if subject in sesh.subject.all %}
								<option value="{{subject.id}}" selected>{{subject}}</option>
								{% else %}
								<option value="{{subject.id}}">{{subject}}</option>
								{% endif %}
							{% endfor %}
							</select>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="control-group">
							<label class="control-label" for="textarea">Edit description</label>
							<div class="controls">
								<textarea id="description" name="description" class="form-control" rows="10">{{sesh.description}}</textarea>
							</div>
						</div>
					</div>
				</div>

				{% if sesh.attachments.all %}
				<div class="row">
					<div class="col-lg-12">
						<div class="control-group">
							<p class="help-block">Select attachments to mark them for deletion. Select multiple by holding ctrl / command. </p>

							<select multiple id="" name="files_to_delete">
							{% for attachment in sesh.attachments.all %}
								<option value="{{ attachment.id }}">
								{{ attachment.attachment }}
								{% if attachment.mark_for_delete %}
									---Marked for Deletion
								{% endif %}
								</option>
							{% endfor %}

							</select>
						</div>
					</div>
				</div>
				{% endif %}

				<div class="row">
					<div class="col-lg-12">
						<div class="checkbox" style="margin-bottom:10px; margin-top: 10px;">
							<label>
								<input type="checkbox" name="disable_comments" value="true" {% if sesh.comments_disabled %}checked{% endif %}>
								<b>Disable comments on your PDsession</b>
							</label>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-12">
						<div id="file-upload-container">
							<div class="control-group">
								<label for="">Optional additional attachment(s)</label>
								<input type="file" class="form-control file-input" onclick="anotherFile()" name="file-upload-0">
								<p class="help-block">
									You may upload attachments
									to suppliment your PD Session, such as slides or other documents.
								</p>
							</div>
						</div>
						<input type="button" onclick="addAttachment()"
							class="btn btn-primary hidden" id="addfile"
							style="margin-top:25px" value="Add another file" >
						</input>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-12">
						<div class="checkbox">
							<label>
							<input type="checkbox" name="p-terms" value="true" required>
								<p class="muted">
									I confirm my continued agreement with the
									<a href="{% url 'presenter-terms' %}"
										target="_blank">Presenter Terms and Condidtions.
									</a>
								</p>
							</label>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="control-group">
							<div class="controls">
								<input type="submit" value="Save Changes" class="btn btn-success">
								<a class="btn btn-default"
									href="{% url 'presenter-dash' %}?direct_to=sessions">
									Cancel
								</a>
							</div>
						</div>
					</div>
				</div>
			</fieldset>
			<input type="hidden" name="create-edit"value="!">
		</form>
	</div>
</div>
