{% load staticfiles %}

<script src="{% static 'js/presenter/sessions.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/presenter/sessions.css' %}">

<div class="row">
		<div class="col-lg-9 col-lg-offset-1">
			<div class="msg-container">
			    {% if messages %}
			    {% for msg in messages %}
				<div class="alert alert-{{msg.tags}} msg" role="alert">{{msg}}<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a></div>
			    {% endfor %}
			    {% endif %}
			</div>
		</div>
</div>
<div class="row my-sessions-row">
    <div class="col-lg-9 col-lg-offset-1">
		{% if not pd %}
		<div class="alert">
			<p>You have not uploaded any sessions!</p>
		</div>
		{% endif %}
        <div class="list-group">
            {% for sesh in pd %}
            <div class="list-group-item pd-upload" >
                <div class="row session">
                    <div class="col-lg-12">
						{% if sesh.approved %}
						<a href="{% url 'detail' sesh.id %}"><h4>{{sesh}}</h4></a>
						{% else %}
						<h4>{{sesh}}</h4>
						{% endif %}
                    </div>
                    <div class="col-sm-6">
                        <p class="muted">Uploaded {{ sesh.upload_date }} {# |date:"N j, Y" #}
                            {% if sesh.last_edited %}
                            <br>Edited {{sesh.last_edited}}
                            {% endif %}
                        </p>

                        <div class="status">
                            <p><b>Status:</b>
                                {% if sesh.suspend_request %}
									Accepted &amp; listed<br>
									<span class="status-brown">
									(Pending removal request)
									</span>
                                {% elif sesh.presenter_approved == False %}
									{% if not sesh.approved %}
										Awaiting your release
									{% endif %}
                                {% elif sesh.edited %}
									{% if sesh.suspended %}
										Removed
									{% elif sesh.approved %}
										Listed
									{% else %}
										Session processing
									{% endif %}
                                {% elif sesh.approved == False %}
									Session processing
																{% elif sesh.suspended %}
																	Removed
                                {% else %}
																	Listed
                                {% endif %}
                                <a class="status-link" onclick="showStatus({{sesh.id}}, this)">(info ▾)</a>
                            </p>
                            <div class="progress">

                                {% if sesh.presenter_approved == False %}
                                <div class="progress-bar" role="progressbar" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100" style="width: 33%;">
                                    <span class="sr-only">1/3 Complete</span>
                                </div>
                                {% elif sesh.approved == False %}
                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
                                    <span class="sr-only">2/3 Complete</span>
                                </div>
																{% elif sesh.suspended %}
																<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
																		<span class="sr-only">Removed</span>
																</div>
                                {% elif sesh.approved %}
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                                    <span class="sr-only">Complete</span>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 actions">
                        <div class="row hidden-xs">
                            <div class="col-lg-12">
                                &nbsp;
                            </div>
                        </div>
						<a class="preview-link" onclick="previewAudio({{sesh.id}}, this)">Preview ▾</a>
                        <a class="" onclick="loadXMLDoc('{% url 'edit' sesh.id %}', '#page-content')">Edit</a>
												{% if sesh.suspended == False %}
                        <a class="suspend-link" onclick="showRemove({{sesh.id}}, this)" >Remove ▾</a>
												{% endif %}
												{% if sesh.presenter_approved == False %}
                        <form action="{% url 'presenter-dash' %}" method="POST" style="float: left; margin-right: 5px;">
                            {% csrf_token %}
                            <input type="hidden" name="session_id" value="{{sesh.id}}">
                            <input type="hidden" name="p-approved" value="44">
                            <input type="submit" id="approve-btn" class="btn btn-success" value="Release Session">
                        </form>
                        {% endif %}
                    </div>
                </div>
                {% if sesh.suspend_request %}
                <div class="row cancel-removal-bar hidden" id="remove-cancel-{{sesh.id}}">
                    <div class="col-lg-3">
                        <p>Do you wish to cancel the request for removal of this session?</p>
                    </div>
                    <div class="col-lg-8">
                        <form action="{% url 'presenter-dash' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="suspend-cancel" value="1">
                            <input type="hidden" name="session_id" value="{{sesh.id}}">
                            <div class="control-group" style="margin-top:10px;">
                                <input type="submit" class="btn btn-success" value="Yes">
                                <a class="btn btn-default" onclick="hideCancelBar()">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
                {% endif %}
                <div class="row hidden removal-bar" id="remove-{{sesh.id}}">
                    <div class="col-lg-3">
                        <p>Do you wish to remove this session?</p>
                    </div>
                    <div class="col-lg-8">
                        <form action="{% url 'presenter-dash' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="suspend-request" value="1">
                            <input type="hidden" name="session_id" value="{{sesh.id}}">
                            <div class="control-group">
                                <label for="">Reason</label>
                                <input type="text" name="reason" class="form-control" placeholder="You may optionally provide a reason">
                            </div>
                            <div class="control-group" style="margin-top:10px;">
                                <input type="submit" class="btn btn-success" value="Yes">
                                <a class="btn btn-default" onclick="hideSuspend()">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
				<div class="row preview-bar" id="preview-{{sesh.id}}">
				</div>
                <div class="row hidden status-bar" id="status-{{sesh.id}}" style="margin-top: 20px;">
                    <div class="col-lg-12">
                        <div class="alert alert-info">
					{% if sesh.suspended %}
					<p>
						This PD Session has been removed by you. It is no longer listed on PDsquirrel and cannot be purchased.
					</p>
			    {% elif sesh.edited and sesh.approved and sesh.presenter_approved %}
<p>
    The original of this PD Session has been released by you and accepted by us (it is listed on the Site

    and offered to all PD Squirrel members).  You have subsequently requested changes to its title or

    description, and/or you have requested that the audio file of this PD Session be replaced with

    another audio file that you have uploaded and released to us. Once reviewed and accepted by us,

    we will make the changes and/or replace the audio file of this PD Session as reasonably necessary.
</p>


			    {% elif sesh.approved and sesh.edited and sesh.presenter_approved == False %}
<p>
    The original of this PD Session has been released by you and accepted by us (it is listed on the Site

    and offered to all PD Squirrel members).  Subsequently, you have saved requested changes to the

    title or description of this Session, and/or uploaded a possible replacement audio file.  These have

    not yet been released by you.  When you click the green button entitled ‘Release edited Session’, you

    will be deemed to release to us your requested changes and your most recently uploaded audio file

    of this PD Session for our review and acceptance in accordance with our Presenter terms and

    conditions.  Once reviewed and accepted by us, we will make the changes and/or replace the audio

    file of this PD Session as reasonably necessary.
</p>

                            {% elif sesh.suspend_request %}
<p>
    You have requested the removal of this PD Session, which has been previously released by you and

    accepted by us. We are processing your removal request in accordance with our Presenter terms

    and conditions.
</p>
                            {% elif sesh.presenter_approved == False %}

<p>
    We are awaiting your release of this PD Session to us. When you click the green button titled

    ‘Release Session’, you will be deemed to release it to us for our review and acceptance in

    accordance with our Presenter terms and conditions. Immediately upon our acceptance of this PD

    Session, it will be listed on the Site and offered to PD Squirrel members. Before you click to release

    it, you may preview, edit or remove this PD Session as you wish. After we accept and list this PD

    Session, we reserve the right to approve any request from you to remove it, in accordance with our

    Presenter terms and conditions.
</p>

                            {% elif sesh.approved == False %}
                            <p>Thank you for delivering this PD Session to us. Once processed, it will be listed on the Site and offered to all PD Squirrel members.</p>

														{% else %}
<p>
    This PD Session is now listed on the Site and

    offered to all PD Squirrel members.
</p>
                            {% endif %}
                            <div class="row">
                                <div class="col-lg-12">
                                    <button class="btn btn-default pull-right" onclick="hideStatus()">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-lg-3">
    </div>
</div>
