{% extends "v3/final/base/base.html" %}
{% load staticfiles %}
{% block body %}

<link rel="stylesheet" href="{% static 'css/presenter-nav-css.css' %}">
<script src="{% static 'js/myscript.js' %}"></script>
<div id="testajax">
</div>
<div id="main-content" class="container">
    <div class="col-lg-9" style="padding: 0">
	<h4>Presenter Hub<small>  (<a href="{% url 'presenter-detail' presenter.id %}">{{presenter}}</a>, {{presenter.credentials}})</small></h4>
<div class="presenter-nav-container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="nav nav-tabs" style="">
		    <li class="active"><a onclick="loadXMLDoc('/user/presenter/dash?myaccount', '#page-content')">My Account</a></li>
		    <li><a onclick="loadXMLDoc('/user/presenter/dash/?mysessions', '#page-content')">My Sessions</a></li>
                    <li><a onclick="loadXMLDoc('/ajax-test' , '#page-content')">New Upload</a></li>
		    <!--<li><a href="">Earnings & Analytics</a></li> -->
                </ul>
            </div>
        </div>
    </div></div>
    <div class="row">
        <div class="col-lg-9">
            <div class="msg-container">
                {% if messages %}
                {% for msg in messages %}
                <div class="alert alert-{{msg.tags}} msg" role="alert">{{msg}} <a href="#"><i class="fa fa-times pull-right iclose"></i></a> </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <div id="page-content">
<div class="row">
    <div class="col-lg-9">
    <style>
label {
    font-weight: bold;
    color: #717171; 
    color: #478857;
}
    </style>
    <h4>Public Information <small>This information can be viewed by all users</small></h4>
    
    <form action="{% url 'presenter-dash' %}" method="POST" >
	{% csrf_token %}
	<input type="hidden" name="edit-pres" value="1">
	<div class="control-group">
	    <div class="row">
	        <div class="col-lg-6">
	    <label for="">Credentials</label>
	    <input type="text"class="form-control" name="credentials" value="{{presenter.credentials}}">
		</div>
	        <div class="col-lg-6">
	    <label for="">Photo</label>
	    <input class="form-control" type="file" name="photo">
		</div>
	    </div>
	</div>
	
	<div class="control-group" style="margin-top:10px">
	    <label for="">Bio</label>
	    <textarea class="form-control"id="" name="bio" cols="30" rows="10">{{presenter.bio}}</textarea>
	</div>
	
    
    <h4>Private Information <small>This information is not shared publicly</small></h4>

    <hr>
	<div class="control-group">
	    <div class="row">
	        <div class="col-lg-6">
	    <label for="">Phone Number</label>
	    <input type="text" class="form-control" name="number" value="{{presenter.phone}}">
		</div>
	        <div class="col-lg-6">
	    <label for="">Law Firm</label>
	    <input type="text" class="form-control" name="law_firm" value="{{presenter.law_firm}}">
		</div>
	    </div>
	</div>
	    <div class="control-group">
	        <input type="submit" class="btn btn-success submit-fix">
	    </div>
	
	
	
    </form>
    </div>
    
</div>
	
        
    </div>
</div>
<script></script>
{% endblock %}
