<div class="row">
    <div class="col-lg-9 col-lg-offset-1">
		<h4>Private Information <small>(This information is not shared publicly)</small></h4>
		<hr>
		<form action="{% url 'presenter-dash' %}" method="POST" >
			{% csrf_token %}
			<div class="control-group tighten-form">
				<div class="row">
					 <div class="col-sm-6 col-xs-12">
						<label for="">Phone Number</label>
						<input type="text" class="form-control" name="number" value="{% if presenter.phone %}{{presenter.phone}}{% endif %}">
					</div>
				</div>
			</div>
			<div class="control-group tighten-form">
				<input type="submit" class="btn btn-success submit-fix" value="Submit">
				<a class="btn btn-default submit-fix" href="{% url 'presenter-dash' %}" >Cancel</a>
			</div>
			<input type="hidden" name="edit-pres-private" value="1">
		</form>
    </div>
</div>
