{% load staticfiles %}

{# NOTE: if this page is not working, re dump this script at bottom: #}
<script src="{% static 'js/presenter/record.js' %}"></script>
<script src="/static/js/wav.js"></script> {# recorder script #}
<link rel="stylesheet" href="{% static 'css/presenter/record.css' %}">
<div class="main col-lg-10 col-lg-offset-1 hidden" id="loader">
		<div class="small1">
			<div class="small ball smallball1"></div>
			<div class="small ball smallball2"></div>
			<div class="small ball smallball3"></div>
			<div class="small ball smallball4"></div>
		</div>
		<div class="small2">
			<div class="small ball smallball5"></div>
			<div class="small ball smallball6"></div>
			<div class="small ball smallball7"></div>
			<div class="small ball smallball8"></div>
		</div>
		<div class="bigcon">
			<div class="big ball"></div>
		</div>
	</div>
<div class="col-lg-9 col-lg-offset-1" id="container">

	<h4>Record a new session <small><a class="status-link" onclick="showInfo(this)" id="infoLink">(info ▾)</a></small></h4>
	<hr>
    <div class="row">
        <div class="col-lg-9 col-lg-offset-1"></div>
	</div>
    <div class="row hidden" id="info-row">
		<div class="alert alert-info">
			<p>
			The PD Squirrel recorder on this page lets you quickly and efficiently record a new session directly from
			your PC or mobile device.  Plug in a USB microphone (we recommend the Snowball Blue microphone as
			a good choice).  Type a name for your recording.  Click Record and start talking.  Click pause when
			finished.  You may add to the recording by moving the triangle on the play bar to any position, clicking
			Record and talk more as needed.  You may delete portions of the recording by using the trim function –
			set a start and end point, then click Trim to delete the chosen portion.  When you are content with your
			recording, click Save to keep it, then go to the Upload tab to create the PD session using this recording
			that you’ve made.
			</p>
			<p>
			When you first arrive at this page, your browser will ask for permission to use the microphone.  Click yes
			to proceed.  This permission is only given for as long as you are on this page.  When you leave this
			Recorder tab and later return, you will need to click yes again.  With most browsers you can modify
			settings to always allow this page to use the microphone, but this is not necessary.
			</p>
			<div class="row">
				<div class="col-lg-12"><button class="btn btn-default pull-right" onclick="closeInfo()">Close</button></div>
			</div>
		</div>
    </div>
    <div class="row">
		<div class="col-lg-6">
			<label for="name">Recording Name</label>
			<input type="text" placeholder="Enter a name for your audio clip" class="form-control" id="name">
		</div>
		<div class="col-lg-12">
			<hr>
		</div>
    </div>
    <div class="row">
			<div class="col-lg-6">
				<div>Total length of recording: <span id='timer'>00:00</span></div>
				<button onclick="recordToggle()" class="btn btn-danger" id = "record_button">Record</button>
				<button onclick = "pauseClick()" class="btn btn-default" id = "pause_button">Pause</button>
				<button id = "save_button"  class="btn btn-default" onclick="saveRecording()">Save</button>
				<button id="delete" onclick="delete_curr_audio()" class="btn btn-default">Delete</button>


				<br>
				<div style="float: left; margin-bottom: 20px; margin-top: 5px" id="output" style="font-weight: bold">
					<p>Click record to begin capturing audio.</p>
				</div>
			</div>
    </div>
    <div class="row">

			<div class="col-lg-12">


				<form class="form-inline" role="form" onsubmit="return false;">
					<div class="form-group">
						<label>Start Time</label>
						<div class="input-group">
							<input class="timebox form-control" type="text" value = '0' id="start-mark" maxlength="7" size="7">
							<span class="input-group-addon">s</span>
							<span class="input-group-btn">
								<button type="button" id="start_set" class="btn btn-default" onclick="setStartMark()">Set</button>
							</span>
						</div>
					</div>
					<div class="form-group" >
						<label id="end-label" style="margin-left: 15px;">End Time</label>
						<div class="input-group">
							<input class="timebox form-control" type="text" value='0' id="end-mark" maxlength="7" size="7">
							<span class="input-group-addon">s</span>
							<span class="input-group-btn">
								<button type="button" id="end_set" class="btn btn-default" onclick="setEndMark()">Set</button>
							</span>
						</div>
					</div>
					<div class="form-group">
						<button id="trim" class="btn btn-default" onclick="trimSelection()">Trim</button>
						<button id="preview" class="btn btn-default" onclick="pselection()">Preview Selection</button>
					</div>
				</form>

			<div class="col-lg-6 hidden" id="loading-alert">
				<h2 class="alert alert-info">Loading WAV audio...</h2>
				<p>This may take up some time depending on the length of the recording.</p>

		</div>
	</div>

    <div class="col-lg-12">
		<hr>
    </div>
	</div>

<div class="row">
  <div class="col-lg-12">
		<audio controls style="width: 100%" id ="player"></audio>
  </div>
</div>
    <div class="row">
	<div class="col-lg-12" style="margin-top: 10px;">
	    <div style="float: right" class="dur-container">
	    </div>
	</div>
    </div>


    <div class="row">
        <div class="col-lg-12" style="margin-top: 30px">
		<hr>
	    <h4>My Audio Clips</h4>
	    {% if audio_recordings %}
	    <table id="clips_table" class="table table-striped">
		{% for rec in audio_recordings %}
		<tr id ="rec-{{rec.id}}">
		    <td class="recording_name">{{rec}}</td>
		    <td>
				<a class="download btn btn-default" href="{% url 'recording' rec.id %}" download="{{rec}}.mp3" target="_blank">Download </a>
			<button class="btn btn-default del-btn" onclick="delAudio('{{rec.id}}')">Delete</button>
		    </td>
	        </tr>
		{% endfor %}
	  </table>
	    {% else %}
	    <p>You have no recordings! click Record above to get started.</p>
	    {% endif %}
            <div id="debug"></div>
        </div>
    </div>

</div>
