{% load staticfiles %}

{# NOTE: if this page is not working, re dump this script at bottom: #}
<script src="/static/js/wav.js"></script> {# recorder script #}
<link rel="stylesheet" href="{% static 'css/presenter/record.css' %}">
<div class="main col-lg-10 col-lg-offset-1 hidden" id="loader">
		<div class="small1">
			<div class="small ball smallball1"></div>
			<div class="small ball smallball2"></div>
			<div class="small ball smallball3"></div>
			<div class="small ball smallball4"></div>
		</div>
		<div class="small2">
			<div class="small ball smallball5"></div>
			<div class="small ball smallball6"></div>
			<div class="small ball smallball7"></div>
			<div class="small ball smallball8"></div>
		</div>
		<div class="bigcon">
			<div class="big ball"></div>
		</div>
	</div>
<div class="col-lg-9 col-lg-offset-1" id="container">

	<h4>Record a session <small><a name="js-info-record" class="status-link" id="infoLink">(info <span>&blacktriangledown;</span>)</a></small></h4>
	<hr>
    <div class="row">
        <div class="col-lg-9 col-lg-offset-1"></div>
	</div>
    <div class="row hidden" name="js-info-record">
		<div class="alert alert-info">
			<p>
				Record a PD session (to a maximum of 20 minutes) directly from this page with just your PC and a USB microphone. Our recorder is
				designed to work primarily with a Google Chrome browser. For best results, we recommend you empty your
				cache and refresh your browser before starting.
			</p>
			<p>
				Follow these easy steps. Plug in a USB microphone. Type a name for your recording. Click Record and
				start talking. Click Pause to take a break or gather your thoughts, then click Record again to resume.
				Before continuing, move the triangle on the play bar to where you wish to start recording again. At any
				time, you can listen to your recording by clicking on the play bar. You may delete portions of your
				recording with our trim function (see below).
			</p>
			<p>
				When done recording, click Save. Depending on the length, this may take a few minutes. Your recording
				will then be listed below and ready for you to deliver to us from the ‘Upload' tab.
			</p>
			<p>
				Depending on your settings, your browser may ask for permission to use the connected microphone once
				or each time you arrive at this page. Click yes. With most browsers you can modify settings to always
				allow this page to use the microphone, but this is not necessary.
			</p>
			<div class="row">
				<div class="col-lg-12"><button class="btn btn-default pull-right" name="js-info-record">Close</button></div>
			</div>
		</div>
    </div>
    <div class="row">
		<div class="col-lg-6">
			<label for="name">Recording name</label>
			<input type="text" placeholder="Enter a name for your session recording" class="form-control" id="name">
		</div>
		<div class="col-lg-12">
			<hr>
		</div>
    </div>
    <div class="row">
			<div class="col-xs-6">
				<label>Controls</label>
				<br>
				<button onclick="recordToggle()" class="btn btn-danger" id = "record_button">Record</button>
				<button onclick = "pauseClick()" class="btn btn-default" id = "pause_button">Pause</button>
				<button id = "save_button"  class="btn btn-default" onclick="saveRecording('/upload/')">Save</button>
				<button id="delete" onclick="delete_curr_audio()" class="btn btn-default">Clear</button>

				<div style="margin-top: 20px;">Total length of recording: <span id='timer'>00:00</span></div>
			</div>
			<div class="col-xs-6">
				<label>Status</label>
				<div id="output" class="output-paused">
					<p class="text-center">Off</p>
				</div>
			</div>
    </div>
    <div class="row">

			<div class="col-lg-12">

				<hr>
				<label style="margin-bottom: 15px">Trim Function <small><a id="trimbtn" name="js-info-trim" class="status-link">(info <span>&blacktriangledown;</span>)</a></small></label>
				<div class="row hidden" name="js-info-trim">
					<div class="alert alert-info">
						<p>
						Use the trim function to permanently delete portions of your recording. First, identify the part to be deleted by selecting the start and end time. Do this by clicking the Set button while listening or type in the times.
						Next, click Preview to listen and make sure it is what you wish to delete. Finally, click Trim to delete the selected portion. The trimmed portion cannot be recovered.
						</p>
						<div class="row">
							<div class="col-lg-12"><button name="js-info-trim" class="btn btn-default pull-right">Close</button></div>
						</div>
					</div>
				</div>
				<form class="form-inline" role="form" onsubmit="return false;">
					<div class="form-group">
						<label>Start Time</label>
						<div class="input-group">
							<input class="timebox form-control" type="text" value = '0' id="start-mark" maxlength="7" size="7">
							<span class="input-group-addon">s</span>
							<span class="input-group-btn">
								<button type="button" id="start_set" class="btn btn-default" onclick="setStartMark()">Set</button>
							</span>
						</div>
					</div>
					<div class="form-group" >
						<label id="end-label"><span class="hidden-xs">&nbsp;</span>End Time</label>
						<div class="input-group">
							<input class="timebox form-control" type="text" value='0' id="end-mark" maxlength="7" size="7">
							<span class="input-group-addon">s</span>
							<span class="input-group-btn">
								<button type="button" id="end_set" class="btn btn-default" onclick="setEndMark()">Set</button>
							</span>
						</div>
					</div>
					<div class="form-group">
						<button id="trim" class="btn btn-default" onclick="trimSelection()">Trim</button>
						<button id="preview" class="btn btn-default" onclick="pselection()">Preview Selection</button>
					</div>
				</form>

			<div class="col-lg-6 hidden" id="loading-alert">
				<h2 class="alert alert-info">Loading WAV audio...</h2>
				<p>This may take up some time depending on the length of the recording.</p>

		</div>
	</div>

    <div class="col-lg-12">
		<hr>
    </div>
	</div>

<div class="row">
  <div class="col-lg-12">
		<audio controls style="width: 100%" id ="player"></audio>
  </div>
</div>
    <div class="row">
	<div class="col-lg-12" style="margin-top: 10px;">
	    <div style="float: right" class="dur-container">
	    </div>
	</div>
    </div>

    <div class="row">
        <div class="col-lg-12" style="margin-top: 30px">
		<hr>
	    <h4>My Recordings</h4>
	    {% if audio_recordings %}
	    <table id="clips_table" class="table table-striped">
		{% for rec in audio_recordings %}
		<tr id ="rec-{{rec.id}}">
		    <td class="recording_name">{{rec}}</td>
				<td>
					{{ rec.getDuration }}
				</td>
		    <td>
				<button class="btn btn-default preview-link" onclick="previewAudio({{rec.id}}, this)">Listen ⏵</button>
				<button class="btn btn-default" onclick="showData('/wav/{{rec.pk}}', '{{rec}}', '{{rec.pk}}')">Edit</button>
				<button class="btn btn-default del-btn" onclick="delAudio('{{rec.id}}')">Delete</button>
				{#<button class="btn btn-default" onclick="showData('/{{rec.audio.name}}', '{{rec}}')">Edit</button> #}
		    </td>
			<td>
				<div class="row">
					<div class="col-xs-12 preview-bar" id="preview-{{rec.id}}">
					</div>
				</div>

			</td>

	        </tr>
		{% endfor %}
	  </table>
	    {% else %}
	    <p>You have no recordings. click Record above to get started.</p>
	    {% endif %}
            <div id="debug"></div>
        </div>
    </div>

</div>
<script>
info_box_activate(); // Reload info box for ajax
</script>
