{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/presenter/presenter-hub.css' %}">
<link rel="stylesheet" href="{% static 'css/presenter/upload.css' %}">
<script src="{% static 'js/presenter/upload.js' %}"></script>
<script src="{% static 'js/presenter/form_helpers.js' %}"></script>

<div class="row">
		<div class="col-lg-9 col-lg-offset-1">
			<div class="msg-container">
			    {% if messages %}
			    {% for msg in messages %}
				<div class="alert alert-{{msg.tags}} msg" role="alert">{{msg}}<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a></div>
			    {% endfor %}
			    {% endif %}
			</div>
		</div>
</div>
<div class="row" id="upload-row">
    <div class="col-lg-9 col-lg-offset-1">
    	{% csrf_token %}
	    <fieldset>
		<h4>Upload a PD session <small><a class="status-link" onclick="showInfo(this)" id="infoLink">(info ▾)</a></small></h4>
		<div class="row hidden" id="info-row">
		    <div class="col-lg-12">
		        <div class="alert alert-info">
					<p>Fill in the boxes below and click the ‘Choose file’ button to attach an audio file of your PD Session.  Then click ‘Upload’ to confirm your continuing agreement to our Presenter terms and conditions and deliver your PD Session to us.  You may review and edit this Session at any time before releasing it to us.  Optionally, you may also upload supplementary material.</p>
					<div class="row">
						<div class="col-lg-12">
							<button class="btn btn-default pull-right" onclick="closeInfo()">Close</button>
						</div>
					</div>
				</div>
		    </div>
		</div>
		<hr>
        <form class="form-horizontal" action="{% url 'presenter-dash' %}" method = "POST" enctype="multipart/form-data" >
	    {% csrf_token %}

		    <div class="row">
		        <div class="col-lg-8">
							<div class="control-group">
					<label for="name" >Session title</label>
					<div class="controls">
						<input id="name" name="name" type="text" placeholder="Enter a title for the session." class="form-control" value="{{title}}" required="">
			    	</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="control-group">
					<label for="name">Subject area(s)</label>
					<div class="controls">
					<select multiple="multiple" id="subject" name="subject" class="form-control">
						{% for subject in subjects %}
						<option value="{{subject.id}}" >{{subject}}</option>
						{% endfor %}
					</select>
					<p class="help-text muted">Hold Control/Command key to select more than one subject</p>
					</div>
				</div>
		    </div>
		</div>
		<!-- Textarea -->
		<div class="control-group">
			<label for="textarea">Session description</label>
			<div class="controls">
	<textarea id="description" rows="7" placeholder="Enter a description for the session." name="description" class="form-control" required="">{{ dsc }}</textarea>
			</div>
		</div>
		<div class="row">
			{% comment %}
			<div class="col-lg-12">
				<div class="control-group">
					<label for="radio">Choose audio file upload method</label>
					<div class="radio" name="radio">
						<label>
							<input id="upload" type="radio" name="upload">
							Upload From Computer
						</label>
						<label>
							<input id="online" checked="true" type="radio" name="upload">
							Select upload file from online recordings
						</label>
					</div>
				</div>
			</div>
			{% endcomment %}
			<div class="col-lg-7">
			<div class="control-group ctrl-group-tight">
				<div class="radio" style="margin-bottom: 10px;">
					<label>
						<input id="online" checked="true" type="radio" name="upload">
						Select upload file from my PD Squirrel recordings
					</label>
				</div>

				<select id="online_input" class="form-control" name="recording">
					<option value="0" selected></option>
					{% for x in recordings %}
					<option value="{{x.id}}">{{x}}</option>
					{% endfor %}
				</select>
			</div>
			</div>
		    <div class="col-lg-5">
				<div class="control-group ctrl-group-tight">
					<div class="radio" style="margin-bottom: 10px;">
						<label>
							<input id="upload" type="radio" name="upload">
							Upload from computer
						</label>
					</div>

					<input disabled="true" id="upload_input" type="file" class="form-control file-input" name="audio_file">
				</div>
		    </div>

				<div class="col-lg-12">
					<p class="help-block">(Required) Select the audio file of your PD Session for upload. If from your computer, it must be in MP3 or WAV format.</p>
				</div>
		</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="checkbox" id="enable_comments" style="margin-bottom:10px; margin-top: 10px;">
							<label>
								<input type="checkbox" id="comment_chk" name="disable_comments" value="true" {% if not sesh.comments_disabled %}checked{% endif %}>
								<b>Enable comments on my PD session</b>
							</label>
						</div>
						<div class="checkbox" id="enable_comment_notifications_div" style="margin-bottom:10px;">
							<label>
								<input id="notification_comment_chk" type="checkbox" name="allow_email_notification_on_comment" value="true" {% if sesh.allow_email_notification_on_comment %}checked{% endif %}>
								Email me each time a user leaves a comment on my PD session
							</label>
						</div>

					</div>
				</div>
		<div class="row">
			
		    <div class="col-lg-5">
				<div id="file-upload-container">
					<div class="control-group">
					<label for="">Optional attachment(s)</label>
					<input type="file" class="form-control file-input" onclick="anotherFile()" name="file-upload-0">
					<p class="help-block">(Optonal) You may upload attachments to supplement your PD Session, such as PDF files or other documents.</p>
					</div>
				</div>
		    </div>
			<div class="col-lg-2">
			    <input type="button" onclick="addAttachment()" class="btn btn-primary hidden" id="addfile" style="margin-top:25px" value="Add another file" ></input>
			</div>
		</div>
		 <div class="checkbox">
		    <label>
			<input type="checkbox" name="p-terms" value="true" required><p class="muted">I agree to the <a href="{% url 'presenter-terms' %}" target="_blank">Presenter terms &amp; conditions</a></p>
		    </label>
		</div>
		<div class="control-group">
				<div class="controls">
					<input type="submit" value="Upload" id="upload-btn" class="btn btn-success">
					<a class="btn btn-default" href="{% url 'presenter-dash' %}">Cancel</a>
				</div>
		</div>
        </form>
    </fieldset>
	<div class="main hidden" id="loader">
		<div class="small1">
			<div class="small ball smallball1"></div>
			<div class="small ball smallball2"></div>
			<div class="small ball smallball3"></div>
			<div class="small ball smallball4"></div>
		</div>
		<div class="small2">
			<div class="small ball smallball5"></div>
			<div class="small ball smallball6"></div>
			<div class="small ball smallball7"></div>
			<div class="small ball smallball8"></div>
		</div>
		<div class="bigcon">
			<div class="big ball"></div>
		</div>
	</div>
</div>
