
/* Presenter hub navbar */
.nav-tabs { border-bottom: 2px solid #DDD; }
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; }
    .nav-tabs > li > a { border: none; color: #666; }
        .nav-tabs > li.active > a, .nav-tabs > li > a:hover { border: none; color: #4285F4 !important; background: transparent; }
        .nav-tabs > li > a::after { content: ""; background: #4285F4; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
    .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }

.presenter-nav-container {
    margin-bottom: 20px;
}

/* Across Presenter hub */
label {
  font-weight: bold;
  color: #478857; }

.submit-fix {
  margin-top: 10px; }

/* Bootstrap override */
input[type="file"] {
  height: auto !important;
}


#enable_comment_notifications_div {
	margin-left: 15px;
	padding-top: 0px;
}

#loader {
 top: 100px;
}

/* Personal */
.tighten-form {
  margin: 0px !important; /* Overwrite bootstrap */
}


/* Record */
html {
	min-width: 410px;
	overflow-x: scroll !important;
}
.timebox {
	padding-bottom: 3px;
	width: 70px;
	height: 34px;
}
.record-label {
    color: rgb(113, 113, 113);
		padding-left: 0px !important;
		padding-right: 0px !important;
	}

.input-group-style {
	padding: 0px;
}

#output {
	padding: 20px;
	padding-top: 25px;
	font-weight: bold;
	font-size: 17px;
	text-align: center

}
.output-paused {
	background-color: #d9edf7;
}
.output-recording {
	background-color: #f2dede;
}

.play-pause {
	line-height: 16.8px !important;
	width: 38px !important;
}

.recording_row:nth-child(odd) {
  background-color: #eee;
}
.recording_row {
  border-top: solid 1px #ccc;
  padding: 5px;
}
.text-col {
  line-height: 33.5px;
}

@media screen and (max-width: 640px) {
	.audiojs .volume {
		width: 50px;
	}
	.audiojs .volume .percent {
		width: 25px;
	}
	.audiojs .mute {
		font-size: 16px;
		padding-left: 2px;
		padding-right: 2px;
	}
	.audiojs {
		width: 425px;
	}
	.audiojs .time {
		padding: 0px 6px 0px 6px;
		margin: 0px;
	}
	.audiojs .scrubber {
		width: 200px;
		margin-left: 5px;
		margin-right: 5px;
	}
}

@media screen and (max-width: 465px) {
	.audiojs .play-pause {
		width: 33px !important;
		padding: 4px 3px;
	}
	.audiojs {
		width: 375px;
	}
	.audiojs .scrubber {
		width: 160px;
	}
}

 /* Upload */
.control-group {
	margin-bottom: 20px;
}
.ctrl-group-tight {
	margin-bottom: 0px;
}

/* Sessions */
.preview-col {
	height: 50px;
}

.preview-col video {
	margin-top: 20px;
}
.actions button, .actions a {
	float: left;
	margin-right: 5px;
	margin-top:15px;
	background-color: lightblue;
	background-color: #EFEFEF;
	color: #797979;
	float: left;
	margin-right: 5px;
	margin-top: 15px;
	background-color: lightblue;
	background-color: #FFFFFF;
	color: #000000;
	background-image: linear-gradient(to bottom,#FFFFFF 0,#B7B7B7 100%);
	border: aliceblue;
	border-radius: 2px;
	border: 1px solid grey;
	padding: 0 5;
	float: left;
	margin-right: 5px;
	margin-top: 15px;
	background-color: lightblue;
	background-color: #EFEFEF;
	color: #797979;
	float: left;
	margin-right: 5px;
	margin-top: 10px;
	background-color: lightblue;
	background-color: #FFFFFF;
	color: #000000;
	background-image: linear-gradient(to bottom,#FFFFFF 0,#F5F5F5 100%);
	border: aliceblue;
	border-radius: 2px;
	border: 1px solid grey;
	padding: 0 5;
}
.release {
	background-color: green;
}
.actions input {
	margin-left: 0px;
}

.status p {
	margin-left: 10px;
}
.pres_btn {
	padding: 0 5;
	margin-right: 5px;
	position: relative;
	top: 10;
	right: 0;
	border: 1px solid black;
}
#approve-btn {
	padding: 0 5;
	position: relative;
	top: 10;
	right: 0;
	border: 1px solid black;
}
.pd-upload h4 {
	margin-top: 10px;
	margin-bottom: 0;
}
.status-brown {
	color: brown;
}

.progress {
	height: 10px;
}

#c-form {
	float:left;
}

.session {
	padding-bottom: 20px !important;
}
