.timebox {
	padding-bottom: 3px;
	width: 70px;
	height: 34px;
}
label {
    color: rgb(113, 113, 113);
		padding-left: 0px !important;
		padding-right: 0px !important;
	}

.input-group-style {
	padding: 0px;
}

#output {
	padding: 20px;
	padding-top: 25px;
	font-weight: bold;
	font-size: 17px;
	text-align: center

}
.output-paused {
	background-color: #d9edf7;
}
.output-recording {
	background-color: #f2dede;
}

 #loader {
	margin-top: 100px;
 }
