.actions button, .actions a {
	float: left;
	margin-right: 5px;
	margin-top:15px;
	background-color: lightblue;
	background-color: #EFEFEF;
	color: #797979;
	float: left;
	margin-right: 5px;
	margin-top: 15px;
	background-color: lightblue;
	background-color: #FFFFFF;
	color: #000000;
	background-image: linear-gradient(to bottom,#FFFFFF 0,#B7B7B7 100%);
	border: aliceblue;
	border-radius: 2px;
	border: 1px solid grey;
	padding: 0 5;
	float: left;
	margin-right: 5px;
	margin-top: 15px;
	background-color: lightblue;
	background-color: #EFEFEF;
	color: #797979;
	float: left;
	margin-right: 5px;
	margin-top: 10px;
	background-color: lightblue;
	background-color: #FFFFFF;
	color: #000000;
	background-image: linear-gradient(to bottom,#FFFFFF 0,#F5F5F5 100%);
	border: aliceblue;
	border-radius: 2px;
	border: 1px solid grey;
	padding: 0 5;
}
.release {
	background-color: green;
}
.actions input {
	 margin-left: 0px;
}

.status p {
	margin-left: 10px;
}
.pres_btn {
	padding: 0 5;
	margin-right: 5px;
	position: relative;
	top: 10;
	right: 0;
	border: 1px solid black;
}
#approve-btn {
	padding: 0 5;
	position: relative;
	top: 10;
	right: 0;
	border: 1px solid black;
}
.pd-upload h4 {
	margin-top: 10px;
	margin-bottom: 0;
}
.status-brown {
	color: brown;
}

.progress {
	height: 10px;
}

#c-form {
	float:left;
}
