{% extends "v3/final/base/base.html" %}
{% load staticfiles %}
{% load pds_extras %}
{% block header-metatags %}
        <title>PDsquirrel Admin Accounting</title>
        <meta name=”description” content='Handle the accounting information of PDSquirrel'>
{% endblock header-metatags %}
{% block header-content %}
        <script src="{% static 'js/myscript.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/admin/accounting.css' %}">
{% endblock header-content %}
{% block body %}
<div id="main-content" class="container">
    <h3 class="my-page-header">Accounting</h3>

    <table class="table">
	<tr class="table-header-spacing">
	    <td class="table-header">PD Squirrel entitlements</td>
	    <td></td>
	</tr>
	<tr>
	    <td>Percentage take of monthly premium</td>
	    <td><input type="Text"></td>
	</tr>
	<tr>
	    <td>Dollar take of monthly premium</td>
	    <td><input type="Text"></td>
	</tr>
	<tr>
	    <td>Percentage take of Individual purchases</td>
	    <td><input type="Text"></td>
	</tr>
	<tr>
	    <td>Dollar take of Individual purchases</td>
	    <td><input type="Text"></td>
	</tr>
	<tr class="table-header-spacing">
	    <td class="table-header">Pricing and entitlements for Premium members</td>
	    <td></td>
	</tr>
	<tr>
	    <td>Effective Date</td>
	    <td><input type="date"></td>
	</tr>
	<tr>
	    <td>Premium member monthly fee</td>
	    <td><input type="text"></td>
	</tr>
	<tr>
	    <td>No. of monthly Session Credits</td>
	    <td><input type="number"></td>
	</tr>
	<tr class="table-header-spacing">
	    <td class="table-header">Pricing of individual PD Session</td>
	    <td></td>
	</tr>
	<tr>
	    <td>Default price of each PD Session</td>
	    <td><input type="number"></td>
	</tr>
    </table>
</div>
{% endblock %}
