{% load staticfiles %}
			<div class = "col-xs-12">
			    <form role="form" action="{% url 'upload-admin' %}" method="POST">
				{% csrf_token %}
				<input type="hidden" value="1" name="approve">
				<input type="hidden" value="{{pd.id}}" name="pd">

			    <input type="submit" value="Accept Session"/>
			    </form>
			    <!--
			    <form action="{% url 'upload-admin' %}" method="POST">
				{% csrf_token %}
				<input type="hidden" value="1" name="decline">
				<input type="hidden" value="{{pd.id}}" name="pd">
			    <input type="Submit" value="Decline Session">
			    </form>
			    -->

                <h3>{{pd.name}}</h3>

				<video id="MY_VIDEO_1" class="video-js vjs-default-skin" controls
					preload="auto" width="100%" height="150" poster="MY_VIDEO_POSTER.jpg"
					data-setup="{}">

						<source src="/{{pd.getAudioLocation}}" type='audio/mpeg'>
					<p class="vjs-no-js">To view this video please enable JavaScript
					<a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
			        </video>



			</div>

				<div class="col-xs-1 hidden-xs">
				    {% if pd.presenters.all|length < 2 %}
				    {% for a in pd.presenters.all %}

				    <img src="{% static 'img/speaker-placeholder-male.png' %}" alt=""  height ="80px">

				    {% endfor %}
				    {% else %}
				    <img src="/media/{{pd.presenters.all.0.img}}" alt="" height="80px">
				    {% endif %}
				</div>
				<div class="col-xs-12">

			<p>
			{{ pd.presenters.all|join:", "}}, {{pd.presenters.all.0.credentials}}
			</p>
				<p>{{pd.release_date}}</p>
				</div>
				<div class="col-xs-12">
					<h4>Session description</h4>
					<p>{{pd.description}}</p>
				</div>
				<div class="col-xs-12">
				    <h4>Downloads</h4>
				    <div class="list-group">
					{% for file in pd.attachments.all %}
					<a class="list-group-item" href="/{{file.attachment}}">{{file.attachment}}</a>

						{% if file.mark_for_delete %}
								---Marked for Deletion
						{% endif %}
					{% endfor %}
				    </div>
                                </div>
